@import "./vars.scss";

.article__hotDeal {
  .section__hotDeal {
    position: relative;
    background-color: map-get($color-palette, num_page-color);
    padding-bottom: 10em;
  }

  .hotDeal__container {
    background-color: white;
    width: $slide_hotdeal_total-width;
    height: 351px;
    overflow: hidden;
    display: flex;
    margin: auto;
  }

  .content_hotDeal {
    width: 100%;
    display: flex;
  }

  .buttons_hotDeal {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 30px;
    color: map-get($color-palette, default-border-color);

    .btn_hotDeal {
      padding: 1em;
      background-color: map-get($color-palette, button_background);
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    float: left;

    li {
      border: 1px solid map-get($color-palette, top_border);
      width: $slide_hotdeal_img-width;
    }
  }
}
