.article__how {
  .content_item {
    background-color: map-get($color-palette, navbar-line-color);
    padding: 3em;

    .title_sub {
      color: map-get($font-color, title);
    }

    .item_how {
      width: 100%;
      margin-bottom: 1em;
    }
  }

  ul {
    margin-top: 1em;
    background-color: white;
  }
}
