.main__etc {
  width: 100%;
  //   border: 1px solid red;
  position: relative;
  padding: 3em 0;

  .title_home {
    font-size: 20px;
  }

  .section_etc {
    // border: 1px solid blueviolet;
    position: relative;

    .cont_partner {
      display: flex;
      background-color: white;
      border: 1px solid map-get($color-palette, searchBar-color);
      padding: 2em 3em;
    }

    strong {
      font-size: map-get($font-size, title);
    }

    ul {
      margin-top: 1em;
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      margin-right: 7em;
    }

    .btn_home {
      position: absolute;
      bottom: 0;
      right: 0;

      i {
        padding: 0.4em;
        color: map-get($font-color, title);
        background-color: white;
        border: 1px solid map-get($color-palette, searchBar-color);
      }
    }
  }

  .link_all {
    position: absolute;
    top: 0;
    right: 1em;
    margin-top: 5em;
  }
}
