.main__banner {
  overflow: hidden;
  position: relative;
  width: 971px;
  margin: 0 auto;
  border: 1px solid #e4e4e4;
  border-bottom: 0 none;
  background-color: #fff; }

.main__banner__top {
  float: top; }
  .main__banner__top .banner__left {
    float: left;
    position: relative;
    width: 485px;
    height: 340px;
    border-right: 1px solid #f1f1f1;
    background-color: #fff; }
    .main__banner__top .banner__left img {
      width: 485px;
      aspect-ratio: auto 485 / 340;
      height: 340px; }
  .main__banner__top .banner__right {
    position: relative;
    float: right;
    width: 485px;
    height: 340px; }
    .main__banner__top .banner__right .banner__slider {
      display: flex;
      position: relative;
      top: 0px;
      left: -484px;
      width: 1452px; }
      .main__banner__top .banner__right .banner__slider .panel {
        height: 100%;
        width: 484px; }

.banner__right__btns {
  position: absolute;
  top: 283px;
  left: 0;
  width: 100%;
  text-align: center;
  clear: both; }

.prev {
  position: absolute;
  top: -4px;
  left: 160px;
  background-position: -128px -335px; }

.next {
  right: 160px;
  background-position: -145px -335px;
  position: absolute;
  top: -4px; }

.inner_paging {
  display: inline-block; }
  .inner_paging span {
    margin-left: 3px;
    float: left;
    padding: 5px 0; }
    .inner_paging span .num_page {
      width: 15px;
      height: 5px;
      font-size: 0;
      line-height: 0; }
    .inner_paging span .unselected {
      background-color: #ccc; }
    .inner_paging span .selected {
      background-color: #000; }

.transitiondefault {
  transition-duration: 300ms;
  transform: translate3d(0px, 0px, 0px); }

.more_contents {
  background-color: #ccc;
  height: 54px;
  width: 971px; }
