header {
  background-color: #fff;
  .row-search {
    text-align: center;
    padding: 0 22vw;
    padding-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    .logo {
      &__img {
        height: 51px;
      }
    }
    .search-bar {
      position: relative;
      &__input {
        @extend .fw-600;
        @extend .f-18;
        border: 1px solid #cecfd1;
        border-radius: 10px;
        background-color: #fff;
        height: 50px;
        width: 90%;
        padding: 0.5em 2em;
      }
      &__button {
        position: absolute;
        height: 50px;
        width: 50px;
        right: 50px;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        &__image-span {
          width: 23px;
          height: 23px;
          top: 15px;
          left: 15px;
          position: absolute;
          overflow: hidden;
          font-size: 0;
          line-height: 0;
          text-indent: -9999px;
          background: url(./images/ico.png);
          background-size: 130px 90px;
        }
      }
    }
  }
  .row-nav {
    position: relative;
    margin-top: 40px;
    border-top: 1px solid #efefef;
    box-shadow: 0 1px rgb(0 0 0 / 16%);
    padding: 0 7vw;
    display: flex;
    align-items: center;
    max-height: 50px;
    & > * {
      height: 50px;
      max-height: 50px;
    }
    .category-button {
      @extend .f-16;
      border: 0;
      outline: none;
      background: transparent;
      width: 125px;
      padding: 0 1em;
      text-align: right;
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        top: 18px;
        right: 0;
        height: 18px;
        border-right: 1px solid #d2d2d2;
      }
      &__image-span {
        width: 30px;
        height: 30px;
        top: 12px;
        left: 8px;
        position: absolute;
        display: block;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        text-indent: -9999px;
        background: url(./images/ico.png);
        background-size: 130px 90px;
        background-position: 0px -30px;
        border-radius: 50%;
        outline: none;
      }
      &:hover {
        .category-button__image-span {
          background-position: 0px -60px;
        }
      }
    }
    .header-list {
      display: inline-block;
      li {
        @extend .f-16;
        @extend .fw-600;
        display: inline-block;
        padding: 0 1em;
        line-height: 50px;
        cursor: pointer;
        position: relative;
        &.new::after {
          content: "";
          position: absolute;
          background-color: red;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          top: 0.8em;
        }
        &:hover {
          color: #f65b3d;
        }
      }
    }
    .login-button {
      @extend .f-16;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      border: 0;
      background-color: transparent;
      width: 170px;
      &__image-span {
        width: 30px;
        height: 30px;
        top: 12px;
        left: 15px;
        position: absolute;
        display: block;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        text-indent: -9999px;
        background: url(./images/ico.png);
        background-size: 130px 90px;
        background-position: -29px -29px;
        border-radius: 50%;
        outline: none;
      }
    }
    .recently-button {
      @extend .login-button;
      &__image-span {
        @extend .login-button__image-span;
        background-position: -59px -29px;
        left: 0;
      }
    }
  }
}