.icon {
    background: url('/images/fe-w3-icon.png') no-repeat;
    background-size:130px 90px;
    display: block;
}

.icon2 {
    background: url('/images/fe-w3-icon2.png') no-repeat;
    display: block;
}  

.wh {
    &-23 {
        width: 23px;
        height: 23px;
    }
    &-28{
        width: 28px;
        height: 28px;
    }
    &-45{
        width: 45px;
        height: 45px;
    }
}

.w {

    &-23 {
        width: 23px;
    }
    &-10 {
        width: 10px;
    }
}

.h {
    &-45 {
        height: 45px;
    }
    &-10 {
        height: 10px;
    }
}




.i {
    &-search {
        @extend .icon, .wh-23;
    }
    &-category{
        @extend .icon, .wh-28;
        background-position: 0 -30px;
    }
    &-user {
        @extend .icon, .wh-28;
        background-position: -30px -30px;


    }
    &-cart{
        @extend .icon, .wh-28;
        background-position: -60px -30px;
    }
    &-down-arrow{
        @extend .icon, .w-10, .h-10;
        background-position: -60px -60px;
    }

    &-prevbtn{
        @extend .icon2, .w-23, .h-45;
        background-position: 1px 0px;

    }
    &-nextbtn{
        @extend .icon2, .w-23, .h-45;
        background-position: -30px 0px;

    }

    &-prevbtn2{
        @extend .icon2, .wh-45;
        background-position: 1px -55px;

    }
    &-nextbtn2{
        @extend .icon2, .wh-45;
        background-position: -50px -55px;

    }
}
