.icon {
    background: url('/images/fe-w3-icon.png') no-repeat;
    background-size:130px 90px;
    display: block;
}

.icon2 {
    background: url('/images/fe-w3-icon2.png') no-repeat;
    background-size:130px 90px;
    display: block;
}  

.wh {
    &-23 {
        width: 23px;
        height: 23px;
    }
    &-28{
        width: 28px;
        height: 28px;
    }
}

.w {
    &-23 {
        width: 23px;
    }
}

.h {
    &-45 {
        height: 45px;
    }
}




.i {
    &-search {
        @extend .icon, .wh-23;
    }
    &-category{
        @extend .icon, .wh-28;
        background-position: 0 -30px;
    }
    &-user {
        @extend .icon, .wh-28;
        background-position: -30px -30px;


    }
    &-cart{
        @extend .icon, .wh-28;
        background-position: -60px -30px;



    }
}