<!DOCTYPE html>
<html>
  <head>
    <title>쇼핑하우</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header></header>
    <main>
      <div class="main_wrapper">
        <section class="">패션 베스트</section>
        <section class="">커피메이커</section>
        <section class="">그리드</section>
        <section class="">지금 뜨는 테마 카테고리</section>
      </div>
    </main>
  </body>
</html>
