@import './reset.scss';

$main-grey-color: #a7a7a7;
$main-black-color: black;
$main-white-color: white;
$main-background-color: #F3F3F4;
$full-contents-width: 80rem;
$primary-color: #FF4C3F;
$primary-font-family: 돋움,dotum,sans-serif;
$page-side-margin: auto;
$logo-width: 7.5rem;
$logo-height: 3.2rem;
$search-bar-padding: 1rem;
$nav-item-width: 1.5rem;
$nav-item-height: 1.5rem;
$nav-item-border-radius: 50%;
$small-img-size-width: 12.5rem;
$small-img-size-height: 12.5rem;
$small-img-padding: 0 1rem;
$small-title-line-height: 2rem;
$smail-desc-font-size: 0.7rem;
$show-more-btn-background-color: #E9E9E9;
$arrow-size: 3rem;

body {
    font-family: $primary-font-family;
    ;
}

.nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.nav-search-wrap {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    position: relative;
    
    .nav-logo img{
        width: $logo-width;
        height: $logo-height;
    }

    .nav-search-bar {
        position: relative;
    }

    .search-bar {
        margin-left: 2rem;
        padding: $search-bar-padding;
        width: 38rem;
        border: 1px solid $main-grey-color;
        border-radius: 1rem;
        }

        .fa-search {
            transform: translate(-2.5rem, 50%);
            font-size: 1.5rem;
            color: $primary-color;
            position: absolute;
        }
    }

.under-nav-wrapper {
     margin: 0 auto;
     width: $full-contents-width;
     display: flex;
     justify-content: center;

      .under-nav-container {
          margin-top: 2rem;
          width: 100%;
          display: flex;
          position: relative;
          justify-content: space-between;
          align-items: center;
      }

      .under-nav-list{
          padding: 1rem 0;
          display: flex;
      }

      .under-nav-category {
          align-items: center;
          button {
              display: flex;
              justify-content: center;
              align-items: center;
              width: $nav-item-width;
              height: $nav-item-height;
              background-color: $main-black-color;
              color: $main-white-color;
              border-radius: $nav-item-border-radius;
          }
          span {
              padding-left: 0.5rem;
          }
      }

      .under-nav-list-item {
          display: flex;     
          padding-right: 5rem;

          li {
            padding: 0 0.5rem;
            font-weight: bold;
          }
            
          .tag {
            color: $main-grey-color;
          }
      }

      .under-nav-right-item {
          display: flex;
          align-items: center;
          padding-left: 1rem;
          
          span {
              padding-left: 0.5rem;
          }

          button {
              height: $nav-item-height;
              width: $nav-item-width;
              color: $main-white-color;
              background-color: $main-black-color;
              border-radius: $nav-item-border-radius;
              display: flex;
              justify-content: center;
              align-items: center;
          }
      }

      .down-arrow {
          padding: 0.5rem 0 0 0.5rem;
      }
}

.main {
    background-color: $main-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cetner;

    .main-top-section {
        margin: 0 $page-side-margin;
        padding: 2rem 0;
        width: 80rem;
    }

    .main-top-article {
        display: flex;
        flex-direction: column;
        background-color: $main-white-color;

        .main-top-article-fristline {
            display: flex;
            justify-content: center;

            .slide {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 2;         
                position: relative;
            }

            button {
                outline: 0;
                border: 0;
                background: 0;
                cursor: pointer;
            }

            .arrow-btn {
                position: absolute;

                .fa-angle-left,
                .fa-angle-right {
                    width: $arrow-size;
                    height: $arrow-size;
                }
            }

            .arrow-btn-left {
                left: 3rem;
            }

            .arrow-btn-right{
                right:3rem;
            }


            .main-top-slide-imgs {
                margin: 0 auto;
                width: 32rem;
                display: flex;
                overflow: hidden;
                
                .slide-img{
                    padding: 0 2rem;
                }
            }

            .main-top-slide-select{
                bottom: 3rem;
                position: absolute;

                li {
                    display: inline-block;
                    width: 0.2rem;
                    height: 0.5rem;
                    padding: 0 0.5rem;
                    background-color: $main-grey-color;
                }
            }
        }

        .main-top-article-secondline {
            display: flex;
            justify-content: space-evenly;

            .main-top-article-sec-imgs {
                width: $small-img-size-width;
                padding: $small-img-padding;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            h6 {
                line-height: $small-title-line-height;
                font-weight: bold;
            }

            p {
                font-size: $smail-desc-font-size;
                color:$main-grey-color
            }

            img {
                width: $small-img-size-height;
                height: $small-img-size-height;
            }
        }
    }

    .main-top-article-btn-container {
        margin-top: 1rem;
        width: 100%;

        button {
            padding: 0;
            width: $full-contents-width;
            height: 5rem;
            background-color: $show-more-btn-background-color;
            outline: 0;
            border: 0;
            cursor: pointer;
        }
    }


    .main-theme-category-wrapper {
        margin: 0 $page-side-margin;
        width: $full-contents-width;

        h3 {
            margin-bottom: 1rem;
            font-weight: bold;
        }

        .main-theme-category-container {
            height: 18rem;
            background-color: $main-white-color;
            display: flex;
            align-items: center;
            position: relative;
        }

        .main-theme-category-lists {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }

        .main-theme-category-list {
            width: $small-img-size-width;
            padding: $small-img-padding;

            h6 {
                line-height: $small-title-line-height;
                font-weight: bold;
            }

            p {
                font-size: $smail-desc-font-size;
                color:$main-grey-color
            }
        }

        img {
            width: $small-img-size-width;
            height: $small-img-size-height;
        }

        .main-theme-arrow-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $arrow-size;
            height: $arrow-size;
            top: 8rem;
            background-color: rgba(0, 0, 0, 0.2);

            button {
                width: 100%;
                height: 100%;
                background: 0;
                outline: 0;
                border: 0;
                color: $main-white-color;
                font-size: 2rem;
            }
        }

        .left-arrow {
            left: 0;
        }

        .right-arrow {
            right: 0;
        }
    }
}



