body {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: #000000;
}

button {
  cursor: pointer;
}

* {
  outline: 1px red solid;
}
