<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>SHOWPPING_HOW</title>
      <link rel="stylesheet" href="style.css" />

   </head>


   <body>
      <div class="head">
         <div class="area_headtop">
            <div class="banner">
               <a href="#" class="link">
                  <img src="https://search1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/logo_shw.png"
                     alt="쇼핑하우">
               </a>
            </div>
            <div class="search">
               <form action="" role="search" class="search_form">
                  <div class="search_box">
                     <input type="text" class="search_input" />
                     <button type="submit" class="search_btn">
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                           style="display:block;fill:#f9624c;height:1.5rem;width:1.5rem;stroke:#f9624c;stroke-width:4;overflow:visible"
                           aria-hidden="true" role="presentation" focusable="false">
                           <g fill="none">
                              <path
                                 d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9">
                              </path>
                           </g>
                        </svg>
                     </button>
                  </div>
               </form>
            </div>
         </div>
         <div class="navigator wrap">
            <div class="nav_left">
               <div class="category">
                  <div>
                     <img src="/img/list.png" class="btn_icon" alt="category">
                     카테고리
                  </div>
               </div>
               <span class="txt_bar">txt_bar</span>
               <ul class="nav_menu">
                  <li>
                     <a href="#">핫딜</a>
                  </li>
                  <li>
                     <a href="#">베스트100</a>
                  </li>
                  <li>
                     <a href="#">
                        할인특가
                        <span class="update">new</span>
                     </a>
                  </li>
                  <li>
                     <a href="#">기획전</a>
                  </li>
               </ul>
               <span class="txt_bar">txt_bar</span>
               <ul class="nav_special_menu">
                  <li>
                     <a href="#">#건강식품</a>
                  </li>
                  <li>
                     <a href="#">#제철음식</a>
                  </li>
                  <li>
                     <a href="#">#블루투스이어폰</a>
                  </li>
                  <li>
                     <a href="#">#커블체어</a>
                  </li>
                  <li>
                     <a href="#">
                        #노트북
                        <span class="update">new</span>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="nav_right nav_user_menu">
               <ul>
                  <li><img class="btn_icon" src="/img/user.png" alt=""><a href="#">로그인</a></li>
                  <li><img class="btn_icon" src="/img/history.png" alt=""><a href="#">최근본 상품</a></li>
               </ul>
            </div>
         </div>
      </div>

      <div class="body">
         <div class="section_top">
            <div class="evt_main">
               <div class="banner_area">
                  <a href="#">
                     <img src="//shop4.daumcdn.net/shophow/sib/0_210219174849_FwZShCdZPYIPpJmvgEiGWverDgJVqrrq"></img>
                  </a>
               </div>
               <div class="slide_area">
                  {{{ index }}}
                  <div class="slide"></div>
                  <div class="slide_ctrl"></div>
               </div>
            </div>
            <div class="evt_list"></div>
            <div class="section_hot_deal"></div>

         </div>
      </div>
   </body>

</html>