<!DOCTYPE html>
<html lang="en">

   <head>
      <profile="http: //www.w3.org/2005/10/profile">
         <link rel="icon" type="image/png" href="http://example.com/myicon.png">

         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>SHOWPPING_HOW</title>
         <link rel="stylesheet" href="/style/style.css" />
         <link rel="preconnect" href="https://fonts.gstatic.com">
         <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">

   </head>

   <body>

      <header class="header">
         <div class="area_headtop">
            <div class="banner">
               <a href="#" class="link">
                  <img src="/img/logo.png" alt="쇼핑하우">
               </a>
            </div>

            <div class="search">
               <form action="" role="search" class="search_form">
                  <div class="search_box">
                     <input type="text" class="search_input" />
                     <button type="submit" class="basic_icon search_btn">
                        돋보기
                     </button>
                  </div>
               </form>
            </div>
         </div>
         <div class="navigator wrap">
            <div class="nav_left">
               <div class="category">
                  <div class="basic_icon basic_icon_3"></div>
                  <span>카테고리</span>
               </div>
               <span class="txt_bar">txt_bar</span>
               <ul class="nav_menu">
                  <li>
                     <a href="#">핫딜</a>
                  </li>
                  <li>
                     <a href="#">베스트100</a>
                  </li>
                  <li>
                     <a href="#">
                        할인특가
                        <span class="update">new</span>
                     </a>
                  </li>
                  <li>
                     <a href="#">기획전</a>
                  </li>
               </ul>
               <span class="txt_bar">txt_bar</span>
               <ul class="nav_special_menu">
                  <li>
                     <a href="#">#건강식품</a>
                  </li>
                  <li>
                     <a href="#">#제철음식</a>
                  </li>
                  <li>
                     <a href="#">#블루투스이어폰</a>
                  </li>
                  <li>
                     <a href="#">#커블체어</a>
                  </li>
                  <li>
                     <a href="#">
                        #노트북
                        <span class="update">new</span>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="nav_right">

               <li><img class="basic_icon basic_icon_4"><a href="#">로그인</a></li>
               <li><img class="basic_icon basic_icon_5"><a href="#">최근본 상품</a></li>

            </div>
         </div>
         </div>
      </header>

      <section class="body">
         <div class="section_top wrap">
            <div class="evt_main">
               <div class="banner_area">
                  <a href="#">
                     <img src=""></img>
                  </a>
               </div>
               <div class="something">
                  <div class="slide_area">
                     <div class="slide_second_position">
                        {{!--
                        <div>슬라이드</div>
                        <div>슬라이드</div>
                        <div>슬라이드</div>
                        <div>슬라이드</div>
                        <div>슬라이드</div>
                        --}}
                     </div>
                  </div>
                  <div class="slide_ctrl">
                     <button class="prev">
                        <span>이전</span>
                     </button>

                     <div class="paging_btn">
                        <span class="1">paging_btn</span>
                        <span class="2">paging_btn</span>
                        <span class="3">paging_btn</span>
                     </div>

                     <button class="next">
                        <span>다음</span>
                     </button>
                  </div>
               </div>
            </div>
            <div class="evt_list">
               <ul class="panel">
                  {{!--
                  <li class="panel_list">
                     <a href="#">
                        <img
                           src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FP4212071675.jpg%3Fut%3D20171219151418&scode=talkgift"></img>
                        <p>안정적인 그립감의 핸들커버</p>
                        <span>스타일리시함까지 갖춘 차량 아이템</span>
                        <span class="theme_icon">테마</span>
                     </a>
                  </li> --}}
               </ul>
               <button class="see_more_btn">더보기(1/279건) ⩒</button>
            </div>
         </div>


         <div class="section_hot_deal wrap">
            <h3>지금뜨는 테마 카테고리</h3>
            <div class="slide_hot_deal">

               <div class="hot_deal_list">
                  {{!--
                  <ul class="panel"></ul>
                  <ul class="panel"></ul>
                  <ul class="panel"></ul>
                  <ul class="panel"></ul>
                  <ul class="panel"></ul>
                  <ul class="panel"></ul> --}}
               </div>
               <div class="slide_ctrl">
                  <button class="prev">이전</button>
                  <button class="next">다음</button>
               </div>
            </div>
         </div>
         </div>
      </section>

      <script type="module" src="/js/play.js"></script>
   </body>

</html>