$main-grey-color: #a7a7a7;
$main-black-color: black;
$main-white-color: white;
$main-background-color: #F3F3F4;
$full-contents-width: 80rem;
$primary-color: #FF4C3F;
$primary-font-family: 돋움,dotum,sans-serif;
$page-side-margin: auto;
$logo-width: 7.5rem;
$logo-height: 3.2rem;
$search-bar-padding: 1rem;
$nav-item-width: 1.5rem;
$nav-item-height: 1.5rem;
$nav-item-border-radius: 50%;
$small-img-size-width: 12.5rem;
$small-img-size-height: 12.5rem;
$small-img-padding: 0 1.5rem;
$small-img-title-font-size: 0.9rem;
$small-img-title-font-weight: bold;
$small-img-p-font-size: 0.7rem;
$small-img-font-overflow: hidden;
$small-img-font-text-overflow: ellipsis;
$small-img-font-white-space: nowrap;
$show-more-btn-background-color: #E9E9E9;
$arrow-size: 3rem;
$slide-movement-length: 35rem;