<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:title" content="대한민국 최저가 가격비교 쇼핑! 쇼핑하우 by kakaocommerce" />
    <meta property="og:url" content="//shoppinghow.kakao.com" />
    <meta property="og:image" content="//shop.daumcdn.net/shophow/front/kakaocommerce_shopping.png" />
    <meta property="og:description" content="쇼핑하우 by kakaocommerce는 대한민국 온라인 쇼핑몰들의 상품 정보를 모두 모아 한번에 가격비교가 가능한, 최저가 가격비교 서비스 입니다." />
    <title>쇼핑라쿤 by raccooncommerce</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="main.scss" />
  </head>
  <body>
    <div class="body__container">
      <header>
        <div class="header__top">
          <h1 class="title--shown">
            <a href="/" class="link_shw _GC_">
              <img src="//search1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/logo_shw.png" class="img_g" alt="쇼핑하우 by kakaocommerce" />
            </a>
          </h1>
          <div class="search-bar">
            <h2 class="screen-out">검색</h2>
            <form id="kakaoSearch" name="kakaoSearch" class="frm_shwsearch" action="return false;" role="search">
              <fieldset class="fld_shwsearch">
                <legend class="screen-out">쇼핑하우검색</legend>
                <div class="box_search">
                  <label for="qTop" class="screen-out">검색어 입력</label>
                  <input type="text" id="qTop" class="search-bar--keyword" size="55" autocomplete="off" spellcheck="false" autocapitalize="off" value="" /><!-- 2019-08-01 기존 id:qTop, name:q -->
                  <button type="submit" class="search--btn">
                    <span class="search--btn--ico search--btn--background"></span>
                    <span class="search--text">검색</span>
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="wrap_rollkeywords" id="upwardKeywordWrap">
            <strong class="screen-out">인기 쇼핑 키워드</strong>
            <ol class="list_rollkeywords" style="top: -160px">
              <!-- 여긴 할 수 있으면 구현! top으로 롤링 -->

              <!-- 2019-08-01 css top속성으로 키워드를 롤링 시킬 수 있습니다. -->

              <!-- <li>
                    <span class="num_rank">1</span>가정용금고
                </li>

              <li><span class="num_rank">2</span>왕갈비탕</li>

              <li><span class="num_rank">3</span>천리향</li>

              <li><span class="num_rank">4</span>단백질</li>

              <li><span class="num_rank">5</span>리스테린</li>

              <li><span class="num_rank">6</span>무선마우스</li>

              <li><span class="num_rank">7</span>프롤린유산균</li>

              <li><span class="num_rank">8</span>붙이는핫팩</li>

              <li><span class="num_rank">9</span>리큅식품건조기</li>

              <li><span class="num_rank">10</span>쿠쿠</li>

              <li><span class="num_rank">1</span>가정용금고</li>

              <li><span class="num_rank">2</span>왕갈비탕</li>
              -->
            </ol>
          </div>
        </div>
          <nav role="navigation">
            <div class="nav__wrapper">
              <h2 class="screen-out">쇼핑하우 주요 메뉴</h2>
              <div class="nav--category">
                <button type="button" class="category-btn">카테고리<span class="ico--background ico--menu">펼치기</span></button>
                <!-- 팝업메뉴 있는데 일단 생략함 -->
              </div>
              <span class="txt-bar"></span>
              <strong class="screen-out">쇼핑하우 메뉴</strong>
              <ul class="list--left">
                <li>
                  <a href="/siso/p/hotdeal/list/" class="link--item" target="_self"> 핫딜 </a>
                </li>
                <li>
                  <a href="/siso/p/bestRank/" class="link--item" target="_self"> 베스트100 </a>
                </li>
                <li>
                  <a href="/siso/p/sale/today" class="link--item new--item" target="_self">
                    <span class="txt_new">new</span>
                    할인특가
                  </a>
                </li>
                <li>
                  <a href="/event/top" class="link--item" target="_self"> 기획전 </a>
                </li>
              </ul>

              <span class="txt_bar narrow_hide"></span>
              <strong class="screen-out">쇼핑하우 스페셜 메뉴</strong>
              <ul class="list--right">
                <li>
                  <a href="/siso/p/bestRank/C02/102105/102105105" data-gg="{lk:pc_gnb_menu_special_1,o1:1}" class="link_shwgnb _GC_" target="_self"> #건강식품 </a>
                </li>

                <li>
                  <a href="/event/detail/53746" data-gg="{lk:pc_gnb_menu_special_2,o1:2}" class="link_shwgnb _GC_" target="_self"> #제철음식 </a>
                </li>

                <li>
                  <a href="/event/detail/53633" data-gg="{lk:pc_gnb_menu_special_3,o1:3}" class="link_shwgnb _GC_" target="_self"> #블루투스이어폰 </a>
                </li>

                <li>
                  <a href="/search/커블체어" data-gg="{lk:pc_gnb_menu_special_4,o1:4}" class="link_shwgnb _GC_" target="_self"> #커블체어 </a>
                </li>

                <li>
                  <a href="/siso/p/bestRank/B02/100105/100105102" data-gg="{lk:pc_gnb_menu_special_5,o1:5}" class="link_shwgnb link_new _GC_" target="_self">
                    <span class="txt_new">new</span>

                    #노트북
                  </a>
                </li>
              </ul>

              <strong class="screen-out">쇼핑하우 사용자 메뉴</strong>
              <ul class="list_usergnb">
                <li id="loginWrap">
                  <a
                    href="https://accounts.kakao.com/login?continue=https%3A%2F%2Fbuy.kakao.com%2Fauth%2F11%2FcleanAuthentication%3FreturnUrl%3Dhttps%253A%252F%252Fshoppinghow.kakao.com%252Ftop"
                    class="link_login _GC_"
                    data-gg="{lk:pc_gnb_loginormy}"
                  >
                    <span class="ico_shwgnb ico_user"></span>
                    로그인
                  </a>
                </li>
                <li class="area_rcntproducts">
                  <!-- 2019-08-01 'on'클래스를 주면 최근본 상품 레이어가 활성화 됩니다. -->
                  <a href="#none" class="link_products _GC_">
                    <span class="ico_shwgnb ico_products"></span>최근본 상품<span class="ico_shwgnb ico_arrow"> 펼치기</span
                    ><!-- 2019-08-01 최근 상품 레이어가 펼쳐졌을 경우 '접기', 잡혀 있을경우 '펼치기'텍스트를 넣어주세요. -->
                  </a>
                  <div class="wrap_rcntproducts" id="gnbMyLayer">
                    <strong class="tit_rcntproducts"> 최근 본 상품<span class="num_products"></span> </strong>

                    <div class="box_pannel">
                      <span class="txt_noproducts"> <span class="emph_g">최근 본 상품</span>이 없습니다. </span>

                      <div class="info_login">
                        <span class="txt_guide"> 로그인 하시면 더 많은<br />MY 쇼핑 정보를 확인 하실 수 있습니다. </span>
                        <a
                          href="https://accounts.kakao.com/login?continue=https%3A%2F%2Fbuy.kakao.com%2Fauth%2F11%2FcleanAuthentication%3FreturnUrl%3Dhttps%253A%252F%252Fshoppinghow.kakao.com%252Ftop"
                          class="btn_login _GC_"
                          data-gg="{lk:pc_gnb_my_login}"
                        >
                          <span class="ico_shwgnb ico_power"></span>로그인하기
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </>
      </header>

      <section></section>
    </div>
  </body>
</html>
