.kakao-video-ad {
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, Malgun Gothic, '\B9D1\C740   \ACE0\B515', sans-serif;
}
.kakao-video-ad .header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0, transparent);
  transition: opacity 1s;
}
.kakao-video-ad .header .link_ad {
  display: block;
  overflow: hidden;
  padding: 12px 12px 12px 11px;
  font-size: 15px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  text-decoration: none;
}
.kakao-video-ad .header .link_ad .txtdetail_ad {
  float: left;
  overflow: hidden;
  max-width: calc(100% - 98px);
  margin-top: 6px;
  font-weight: 600;
  letter-spacing: 0;
  white-space: nowrap;
  text-rendering: auto;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
  text-align: left;
}
.kakao-video-ad .header .link_ad .ico_ad {
  float: left;
  overflow: hidden;
  width: 27px;
  height: 16px;
  margin: -1px 5px 0 0;
  vertical-align: top;
  background: url(https://t1.daumcdn.net/biz/ui/adplayer/m320/ico_adplayer_171026_v2.png) no-repeat -70px 0;
  text-indent: -9999px;
}
.kakao-video-ad .header .link_ad .txt_go {
  float: right;
  height: 26px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 13px;
  line-height: 27px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: -1px;
}
.kakao-video-ad .header .link_ad .txt_go:after {
  display: inline-block;
  width: 7px;
  height: 11px;
  margin: 8px 0 0 4px;
  background: url(https://t1.daumcdn.net/biz/ui/adplayer/m320/ico_adplayer2_180308.png) no-repeat -150px -20px;
  vertical-align: top;
  content: '';
}
.kakao-video-ad {
  display: block;
  overflow: hidden;
  max-height: 319.5px;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  vertical-align: top;
  box-sizing: border-box;
  color: #fff;
  background-color: #000;
  position: relative;
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  font-family: HelveticaNeue, Helvetica, roboto, sans-serif;
}
.kakao-video-ad * {
  box-sizing: inherit;
}
.kakao-video-ad video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.kakao-video-ad button {
  background: none;
  border: none;
  color: inherit;
  display: inline-block;
  overflow: visible;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
  text-decoration: none;
  transition: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.kakao-video-ad .loading-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.85;
  text-align: left;
  border: 6px solid rgba(43, 51, 63, 0.7);
  box-sizing: border-box;
  background-clip: padding-box;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.kakao-video-ad .loading-spinner:after,
.kakao-video-ad .loading-spinner:before {
  content: '';
  position: absolute;
  margin: -6px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: 1;
  border: inherit;
  border-color: transparent;
  border-top-color: #fff;
}
.kakao-video-ad.loadstart .loading-spinner:after,
.kakao-video-ad.loadstart .loading-spinner:before {
  -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite;
  animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite;
}
.kakao-video-ad.loadstart .loading-spinner {
  display: block;
}
.kakao-video-ad.loadstart.error .loading-spinner {
  display: none;
}
.kakao-video-ad .link-load {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  visibility: visible;
}
.kakao-video-ad .link-load.vod_replay:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  content: '';
}
.kakao-video-ad .load {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.kakao-video-ad.loaded-data .load .ico_load {
  display: block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: url(https://t1.daumcdn.net/biz/ui/adplayer/m320/ico_adplayer2_180308.png) no-repeat 0 0;
  text-indent: -9999px;
  transition: opacity 1s;
}
.kakao-video-ad.has-started.playing .load .ico_load {
  opacity: 0;
  background-position: -40px 0;
}
.kakao-video-ad.has-started.playing.show-buttons .load .ico_load {
  opacity: 1;
  transition: opacity 1s;
  background-position: -40px 0;
}
.kakao-video-ad.has-started.show-buttons.playing.paused.ended .link-load {
  display: inline-block;
}
.kakao-video-ad.has-started.show-buttons.playing.paused.ended .load .ico_load {
  opacity: 1;
  background-position: -80px 0;
}
.kakao-video-ad.has-started.show-buttons.playing.paused .load .ico_load {
  opacity: 1;
  background-position: 0 0;
}
.load .txt_time {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
.kakao-video-ad .poster {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-color: #000;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}
.kakao-video-ad .poster img {
  display: block;
  vertical-align: middle;
  margin: 0 auto;
  max-height: 100%;
  padding: 0;
  width: 100%;
}
.kakao-video-ad.has-started .poster {
  opacity: 0;
}
.kakao-video-ad .control-bar {
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
  visibility: visible;
  opacity: 1;
  text-align: right;
  background: -moz-linear-gradient(top, transparent 10%, rgba(0, 0, 0, 0.3) 100%);
  background: -webkit-linear-gradient(top, transparent 10%, rgba(0, 0, 0, 0.3));
  background: linear-gradient(180deg, transparent 10%, rgba(0, 0, 0, 0.3));
  transition: opacity 1s;
}
.kakao-video-ad .time-control {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 31px 12px 0 0;
  vertical-align: top;
  opacity: 0;
  transition: opacity 1s;
  letter-spacing: 0;
}
.kakao-video-ad.has-started .time-control {
  opacity: 1;
}
.kakao-video-ad .control-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.kakao-video-ad .time-control em {
  font-size: 12px;
  font-style: normal;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
}
.kakao-video-ad .control-bar a {
  background: none;
  border: none;
  color: inherit;
  display: inline-block;
  overflow: visible;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
  text-decoration: none;
  transition: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.kakao-video-ad .control-bar .btn_option {
  display: inline-block;
  position: relative;
  width: 41px;
  height: 41px;
  margin: 19px 0 0 -12px;
  padding: 0;
  cursor: pointer;
  -webkit-box-flex: unset;
  -moz-box-flex: unset;
  -webkit-flex: none;
  -ms-box-flex: none;
  flex: none;
  outline: none;
  opacity: 1;
}
.kakao-video-ad .control-bar .btn_option:before {
  position: absolute;
  left: 8px;
  top: 15px;
  width: 22px;
  height: 7px;
  background: url(https://t1.daumcdn.net/biz/ui/adplayer/m320/ico_adplayer2_180308.png) no-repeat -150px 0;
  content: '';
}
.kakao-video-ad .link_sound {
  position: absolute;
  bottom: 9px;
  left: 7px;
  z-index: 10;
  height: 27px;
  padding: 5px;
  font-size: 12px;
  line-height: 17px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 1s;
}
.kakao-video-ad .link_sound .ico_sound {
  display: inline-block;
  overflow: hidden;
  width: 22px;
  height: 17px;
  font-size: 1px;
  line-height: 0;
  color: transparent;
  background: url(https://t1.daumcdn.net/biz/ui/adplayer/m320/ico_adplayer2_180308.png) no-repeat -120px 0;
  vertical-align: top;
}
.kakao-video-ad .link_sound.sound_off .ico_sound {
  background-position: -120px -20px;
}
.kakao-video-ad .link_sound .txt_nosound {
  padding-left: 7px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
}
.kakao-video-ad.loaded-data .link_sound {
  opacity: 1;
}
.kakao-video-ad .progress-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  -webkit-box-flex: initial;
  -moz-box-flex: initial;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.kakao-video-ad .progress-holder {
  -webkit-box-flex: initial;
  -moz-box-flex: initial;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: 2px;
}
.kakao-video-ad .progress-holder .load-progress,
.kakao-video-ad .progress-holder .load-progress div,
.kakao-video-ad .progress-holder .play-progress {
  position: absolute;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 0;
  left: 0;
  top: 0;
}
.kakao-video-ad .play-progress {
  background-color: #4dbefa;
}
.kakao-video-ad .play-progress:before {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 10px;
}
.kakao-video-ad .progress-control:hover .play-progress:before {
  transform: scale(1);
}
.kakao-video-ad .slider {
  outline: 0;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: hsla(0, 0%, 100%, 0.4);
}
.kakao-video-ad .load-progress {
  background: #bfc7d3;
  background: rgba(115, 133, 159, 0.5);
}
.kakao-video-ad .load-progress div {
  background: hsla(0, 0%, 100%, 0.7);
}
.kakao-video-ad .option_layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}
.kakao-video-ad.can-optout .option_layer {
  visibility: visible;
  z-index: 400;
  opacity: 1;
  transition: opacity 0.5s;
}
.kakao-video-ad .option_layer .info_auto {
  display: table;
  width: 100%;
  height: 100%;
}
.kakao-video-ad .option_layer .info_auto .inner_auto {
  display: table-cell;
  vertical-align: middle;
}
.kakao-video-ad .option_layer .info_auto .desc_auto {
  position: relative;
  margin: 0;
  padding: 0 10px 57px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  word-break: keep-all;
}
.kakao-video-ad .option_layer .info_auto .btn_auto {
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 110px;
  height: 40px;
  margin-left: -55px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  background-color: #9a9a9a;
  text-align: center;
  cursor: pointer;
  border: 0;
  -webkit-box-flex: unset;
  -moz-box-flex: unset;
  -webkit-flex: none;
  -ms-box-flex: none;
  flex: none;
  outline: none;
}
.kakao-video-ad .option_layer .info_auto .btn_on {
  background-color: #43bbfb;
}
.kakao-video-ad .option_layer .desc_info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-bottom: 10px;
  font-size: 9px;
  color: #bbb;
  letter-spacing: -0.01em;
  text-align: center;
}
.kakao-video-ad .option_layer .btn_close {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 30px;
  height: 30px;
  padding: 7px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -webkit-box-flex: unset;
  -moz-box-flex: unset;
  -webkit-flex: none;
  -ms-box-flex: none;
  flex: none;
  outline: none;
}
.kakao-video-ad .option_layer .btn_close:before {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 16px;
  height: 16px;
  background: url(https://t1.daumcdn.net/biz/ui/adplayer/m320/ico_adplayer2_180308.png) no-repeat -120px -40px;
  content: '';
}
.kakao-video-ad .option_layer .active_on.btn_close:before {
  background-position: -120px -60px;
}
.kakao-video-ad.can-optout .control-bar,
.kakao-video-ad.can-optout .header,
.kakao-video-ad.can-optout .link-load,
.kakao-video-ad.can-optout .link_sound {
  opacity: 0;
  transition: opacity 0.5s;
}
.kakao-video-ad.show-buttons .link-load,
.kakao-video-ad.show-poster .link-load,
.kakao-video-ad.show-poster .poster {
  display: inline-block;
  opacity: 1;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  .kakao-video-ad .control-bar .btn_option:before,
  .kakao-video-ad .header .link_ad .txt_go:after,
  .kakao-video-ad .link_sound .ico_sound,
  .kakao-video-ad.loaded-data .load .ico_load,
  .kakao-video-ad .option_layer .btn_close:before {
    background-image: url(https://t1.daumcdn.net/biz/ui/adplayer/m640/ico_adplayer2_180308.png);
    background-size: 180px 80px;
  }
}
