* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  line-height: 1.5;
  color: #333;
}

.header--shown {
  padding-top: 43px;
  text-align: center;
  min-width: 977px;

  .area--head-top {
    display: inline-block;
    vertical-align: top;
  }
}
