@import "./vars.scss";
@import "./main/articleTop.scss";
@import "./main/articleHotdeal.scss";
@import "./main/articleKeyword.scss";
@import "./main/articleHow.scss";
@import "./main/etc.scss";

main,
footer {
  padding: 0 $padding-for-left-right;
  background-color: map-get($color-palette, default-border-color);
  font-size: map-get($font-size, content);
}

.dividing-space {
  height: 40px;
}

.none {
  display: none;
}

.transition {
  transition: 300ms;
}

.main__article {
  width: 100%;
  background-color: #fff;

  .title_info {
    padding: 0.5em 1em;
    font-size: 18px;
  }

  .list_item,
  .list_keyword,
  .list_how {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    min-height: 350px;
    text-align: center;

    ._GI_ {
      padding: 20px 0;
      border: 1px solid map-get($color-palette, top_border);

      a {
        position: relative;
        display: flex;
        flex-direction: column;
        color: map-get($font-color, content);

        img {
          height: 18em;
        }

        strong {
          margin: 10px 10px 0 10px;
          font-size: map-get($font-size, title);
          color: map-get($font-color, title);
        }
      }
    }
  }

  .list_hotDeal,
  .list_keyword,
  .list_how {
    li {
      display: flex;
      text-align: center;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    img {
      margin-top: 1em;
      width: 80%;
    }

    strong {
      margin: 0 1em;
      font-size: map-get($font-size, title);
      color: map-get($font-color, title);
    }

    .detail_price {
      padding: 1em 0;
    }
  }
}
