@import "./vars.scss";
@import "./header.scss";
@import "./main.scss";

body,
ul,
li,
button,
a {
  all: unset;
}

button,
a {
  cursor: pointer;
}

.active {
  visibility: visible;
}

.hiddon {
  visibility: hidden;
}
