@charset "UTF-8";
.icon {
  background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/ico_gnb_shw.png) no-repeat;
  background-size: 130px 90px; }

.ico_menu {
  left: 4px;
  background-position: 0 -30px; }

header {
  width: 100%;
  padding-top: 43px;
  font-family: Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,Dotum,돋움,sans-serif;
  background-color: #fff;
  text-align: center;
  min-width: 977px; }

.header__searchbar {
  display: inline-block;
  vertical-align: top; }
  .header__searchbar img {
    width: 119px;
    height: auto; }
  .header__searchbar input {
    float: right;
    margin: 0 24px 0 30px;
    width: 670px;
    height: 54px;
    padding: 16px 60px 14px 30px;
    border: 1px solid #cecfd1;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box; }

.header__navbar {
  border-top: 1px solid #efefef;
  width: 100%;
  margin: 0 auto;
  height: 54px;
  display: block;
  margin-top: 50px; }
  .header__navbar div {
    float: left; }
  .header__navbar ul {
    float: left; }
    .header__navbar ul li {
      float: left;
      padding: 0 13px;
      color: #222; }

.header__navbar__login {
  float: right; }

body {
  height: 500vh; }
