.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrapper .header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 970px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper .header .header__logo img {
  width: 120px;
  padding-right: 2rem;
}

.header__search-bar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2rem;
  width: 30rem;
  border-radius: 0.7rem;
  border: 1px solid #cecfd1;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search-bar .header__search-bar--content {
  border: white;
  width: 90%;
}

.header__search-bar .header__search-bar--icon {
  border: none;
  background-color: transparent;
  color: #FF385C;
  font-size: 150%;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #cecfd1;
}

.navbar-wrapper .navbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 970px;
  height: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__category {
  padding-right: 1rem;
  border-right: 1px solid #cecfd1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navbar__menu {
  width: 89%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__menu .navbar__menu--item span {
  padding-left: 1rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  background-color: #e2e2e2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .main__1st-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 970px;
  background-color: white;
}

.main .main__see-more-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 970px;
  height: 2rem;
  background-color: #cecfd1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._1st-content--slide {
  overflow: hidden;
}

._1st-content--slide .slide--wrapper {
  white-space: nowrap;
  position: relative;
  width: 1455px;
  left: -485px;
  height: 340px;
  overflow: hidden;
}

._1st-content--slide .slide--wrapper .slide--item {
  display: inline-block;
}

.slide--arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 250px;
  left: 617px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide--arrow .left-button, .slide--arrow .right-button {
  background-color: transparent;
  border: none;
  color: #cecfd1;
  font-size: 300%;
}

.slide--arrow .scroll-button {
  background-color: #e2e2e2;
  position: relative;
  top: 8px;
  margin: 0px 2px;
  width: 30px;
  border: none;
  height: 10px;
}

.main__2nd-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 970px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.main__2nd-content li {
  width: 200px;
  padding: 1rem;
  line-height: 110%;
}

.main__2nd-content li img {
  width: 200px;
}

.main__2nd-content li ._2nd-content--title {
  font-size: 85%;
  font-weight: bold;
}

.main__2nd-content li ._2nd-content--description {
  font-size: 80%;
  color: #888;
}
/*# sourceMappingURL=style.css.map */