$color-palette: (
  default-border-color: #f5f5f5,
  navbar-line-color: #e3e3e3,
  searchBar-color: #d4d5d7,
  num_page-color: #ccc,
  top_border: #eaeaea,
  button_background: rgba(0, 0, 0, 0.5),
);

$font-size: (
  title: 14px,
  content: 12px,
);

$font-color: (
  discount: #fc363c,
  content: #888,
  title: #5f5f5f,
  theme: #f0a969,
);

$slide_img: (
  width: 485px,
  height: 340px,
);

$slide_img_total-width: (map-get($slide_img, width) * 5) px;

$slide_hotdeal_img-width: 250px;
$slide_hotdeal_total-width: ($slide_hotdeal_img-width + 2) * 5 - 1;

$padding-height-size: 1.5em;
$padding-for-left-right: 7%;
