// $site_max_width: 960px;
// $font_color: #333;
// $link_color: #00c;
$font_family: Arial, sans-serif;
$font_size: 18px;
$title_padding: 20px 300px;
// $line_height: percentage(20px / $font_size);

* {
  //   color: $font_color;

  //   // Property Nesting
  font: {
    size: $font_size;
    family: $font_family;
  }

  //   line-height: $line_height;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lavenderblush;
  padding: $title_padding;
  .front__logo {
    background-color: royalblue;
    .logo__img {
      height: 70px;
    }
  }
  .front__input-box {
    margin-left: 40px;
    background-color: red;
    display: flex;
    justify-self: start;
    .input-box__input {
      //   display: inline-block;
      height: 50px;
      width: 700px;
      //   width: 600px;
      flex: 0 70%;
      //   border-radius: 20px;
    }
    .input-box__icon {
      //   display: inline-block;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: greenyellow;
  padding: 20px 40px;
  .nav__category,
  .special-menu,
  .hash-tag,
  .add-on {
    background-color: salmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__category {
    flex-grow: 0.1;
  }
  .special-menu {
    flex-grow: 0.2;
  }
  .hash-tag {
    flex-grow: 0.2;
  }
  .add-on {
    flex-grow: 0.1;
    .add-on__recent-product,
    .add-on__login {
      display: flex;
      justify-content: space-between;
      li {
        margin-left: 10px;
      }
    }
  }
}

.main-banner {
  background-color: rosybrown;
  position: relative;
  padding: 0 40px;
  // overflow: hidden;
  .main-banner__static {
    background-color: yellow;
    position: absolute;
    // padding-right: 100px;
    display: inline-block;
  }
  .main-banner__slide {
    background-color: red;
    padding: 0 60px;
    height: 340px;
    width: 685px;
    margin-left: 500px;
    // z-index: 1;
    // left: -100;
    // height: 700px;
    overflow: hidden;
    // top: 30px;
    // position: absolute;
    position: relative;
    // left: 400px;
    .slide-bundle {
      display: flex;
      // width: 1800px;
      // display: inline-block;
      position: absolute;
      justify-content: flex-start;
      background-color: greenyellow;
      // top: 30px;
      left: -585px;
    }
    .slide-bundle li {
      display: inline-block;
      margin-left: 100px;
      // margin-left: 30px;
      // display: flex;
      // justify-content: space-between;
    }
    .slide-bundle li:nth-child(3) {
      margin-right: 100px;
    }
    .slide-bundle.active {
      // transition-duration: 3s;
      transform: translate3d(585px, 0, 0);
      transition: transform 0.5s;
    }
    .slide-bundle.left {
      transform: translate3d(-585px, 0, 0);
      transition: transform 0.5s;
    }
    .slide__right {
      position: absolute;
      left: 630px;
      top: 50%;
      z-index: 2;
    }
    .slide__left {
      position: absolute;
      left: 50px;
      top: 50%;
      z-index: 2;
    }
    // .slide__view-box {
    //   width: 500px;
    //   height: 700px;
    //   position: absolute;
    //   background-color: indigo;
    //   left: 600px;
    //   overflow: hidden;
    //   // z-index: 1;
    // }
  }
}
// #main {
//   width: 100%;
//   max-width: $site_max_width;
// }
