<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index_header.scss">
    <link rel="stylesheet" href="index_middle.scss">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="header_box">
                <h1>
                    <a href="#">
                        <img src="//search1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/logo_shw.png"
                            class="header_img">
                    </a>
                </h1>
                <div class="search_bar">
                    <input type="text" class="search_input">
                    <button>
                        <span class="button_img"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="header_multibox">
            <div class="category_cover">
                <button class="category_box">
                    카테고리
                    <span class="button_icon"></span>
                </button>
                <!-- <div>카테고리 누르면 나오는 메뉴</div> -->
                <span class="division_bar"></span>
                <ul class="menu_lists_left">
                    <li>핫딜</li>
                    <li>베스트100</li>
                    <li>할인특가</li>
                    <li>기획전</li>
                </ul>
                <span class="division_bar"></span>
                <ul class="menu_lists_center">
                    <li>#건강식품</li>
                    <li>#제철음식</li>
                    <li>#블루투스이어폰</li>
                    <li>#커블체어</li>
                    <li>노트북</li>
                </ul>
                <ul class="menu_lists_right">
                    <li>
                        <a href="#">
                            <span class="button_icon_two"></span>
                            MY 쇼핑
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            최근본 상품
                            <span class="button_icon_three"></span>
                            <span class="arrow_icon"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <middle>
        <div id="middle">
            <div class="middle_width">
                <div class="middle_box">
                    <div class="top_content">
                        <div class="best100">
                            <img src="https://shop4.daumcdn.net/shophow/sib/0_210219174900_cCDgZtbAhPiBQqcJamsODOWNoVrXILeM"
                                alt="">
                        </div>
                        <div class="slider">
                            <div class="carousel_slide">
                                <img class="items" id="lastClone"
                                    src="https://shop3.daumcdn.net/shophow/sib/0_210219175556_BtjOWRoiPbsVXvlYusgFvjboDPXRIBQD">
                                <img class="items"
                                    src="https://shop3.daumcdn.net/shophow/sib/0_210219175609_PZjbWVyRtwcxTlShApbdyOenwLaYCOhs">
                                <img class="items" id="firstClone"
                                    src="https://shop1.daumcdn.net/shophow/sib/0_210219175602_vRyGDQxWDethcelhYcMmXKXpgLqlAIAj">
                            </div>
                            <div>
                                <button class="left"><div class="left_button"></div></button>
                                <button class="right"><div class="right_button"></div></button>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="top_imglist">
                    <ul>
                        <li>
                            <a href="#">
                                <span><img
                                        src="https://shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FG11290107196.jpg%3Fut%3D20201125081850&scode=talkgift"
                                        alt=""></span>
                                <strong>단정하지만 우하한 스타일, 르메르</strong>
                                <span class="img_text">디렉터 크리스토퍼 르메르의 컬렉션</span>
                                <span class="tema_icon"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span><img
                                        src="https://shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FN10314846256.jpg%3Fut%3D20200828103519&scode=talkgift"
                                        alt=""></span>
                                <strong>매력적인 포인트를 주는 실버링</strong>
                                <span class="img_text">매끄럽고 세련된 디자인</span>
                                <span class="tema_icon"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span><img
                                        src="https://shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FW12080125312.jpg%3Fut%3D20210126062957&scode=talkgift"
                                        alt=""></span>
                                <strong>매력 넘치는 브랜드 어프어프</strong>
                                <span class="img_text">귀엽고 특이한 디자인으로 모아봤어요.</span>
                                <span class="tema_icon"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span><img
                                        src="https://shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FP4212071675.jpg%3Fut%3D20171219151418&scode=talkgift"
                                        alt=""></span>
                                <strong>안정적인 그립감의 핸들 커버</strong>
                                <span class="img_text">스타일리시함까지 갖춘 차량 아이템</span>
                                <span class="tema_icon"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><img
                                        src="https://shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&scode=talkgift"
                                        alt=""></span>
                                <strong>리바트 가구 기획전</strong>
                                <span class="img_text">깔끔한 디자인 #리바트 가구</span>
                                <span class="tema_icon"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="middle_mid">
                    <div class="middle_head">
                        <h3>품절주의! 역대급 핫딜</h3>
                    </div>
                    <div>
                        <ul class="middle_img">
                            <li>
                                <span><img
                                        src="https://shop2.daumcdn.net/shophow/c/image/content/set/ad8255/20210210103611825_645372"
                                        alt=""></span>
                                <span class="hot_deal_text">요즘핫템 소라게발 특가!</span>
                                <span class="span_box">
                                    <span class="hot_deal_won">23,670원</span>
                                    <span class="hot_deal_discount">핫딜가</span>
                                </span>
                            </li>
                            <li>
                                <span><img
                                        src="https://shop2.daumcdn.net/shophow/c/image/content/set/ad8255/20210216114322175_100259"
                                        alt=""></span>
                                <span class="hot_deal_text">주방필수!위생도마40%↓</span>
                                <span class="span_box">
                                    <span class="hot_deal_won">11,900원</span>
                                    <span class="hot_deal_discount">40%</span>
                                </span>
                                <span class="original_price">19,800</span>
                            </li>
                            <li>
                                <span><img
                                        src="https://shop2.daumcdn.net/shophow/c/image/content/set/ad8255/20210216084506076_978941"
                                        alt=""></span>
                                <span class="hot_deal_text">원료 본연의 어성초세럼</span>
                                <span class="span_box">
                                    <span class="hot_deal_won">9,900원</span>
                                    <span class="hot_deal_discount">67%</span>
                                </span>
                                <span class="original_price">30,000</span>
                            </li>
                            <li>
                                <span><img
                                        src="https://shop2.daumcdn.net/shophow/c/image/content/set/ad8255/20210223162623892_739718"
                                        alt=""></span>
                                <span class="hot_deal_text">디퓨터 1+1+1+1으로 쟁여</span>
                                <span class="span_box">
                                    <span class="hot_deal_won">16,900원</span>
                                    <span class="hot_deal_discount">60%</span>
                                </span>
                                <span class="original_price">30,000</span>
                            </li>
                            <li>
                                <span><img
                                        src="https://shop2.daumcdn.net/shophow/c/image/content/set/ad8255/20210209122922717_841969"
                                        alt=""></span>
                                <span class="hot_deal_text">공간활용 甲 쟁여둬~</span>
                                <span class="span_box">
                                    <span class="hot_deal_won">12,380원</span>
                                    <span class="hot_deal_discount">핫딜가</span>
                                </span>
                            </li>
                        </ul>
                        <ul class="middle_img">
                            <li>
                                <span><img
                                        src="https://shop1.daumcdn.net/shophow/c/image/content/set/ad8255/20210215134737333_42361"
                                        alt=""></span>
                                <span class="hot_deal_text">터치+음성인식 무선이어폰</span>
                                <span class="span_box">
                                    <span class="hot_deal_won">49,300원</span>
                                    <span class="hot_deal_discount">43%</span>
                                </span>
                                <span class="original_price">87,000</span>
                            </li>
                            <li>
                                <span><img
                                        src="https://shop2.daumcdn.net/shophow/c/image/content/set/ad8255/20210217154914947_148831"
                                        alt=""></span>
                                <span class="hot_deal_text">뭐든 착! 다거는 만능고리</span>
                                <span class="span_box">
                                    <span class="hot_deal_won">9,900원</span>
                                    <span class="hot_deal_discount">34%</span>
                                </span>
                                <span class="original_price">15,000</span>
                            </li>
                            <li>
                                <span><img
                                        src="https://shop2.daumcdn.net/shophow/c/image/content/set/ad8255/20210129141658525_918470"
                                        alt=""></span>
                                <span class="hot_deal_text">바디워시 1+1+1~!</span>
                                <span class="span_box">
                                    <span class="hot_deal_won">9,900원</span>
                                    <span class="hot_deal_discount">핫딜가</span>
                                </span>
                                <!-- <span>30,000</span> -->
                            </li>
                            <li>
                                <span><img
                                        src="https://shop2.daumcdn.net/shophow/c/image/content/set/ad8255/20210216154505539_145493"
                                        alt=""></span>
                                <span class="hot_deal_text">+오버나이트 5팩 반값+</span>
                                <span class="span_box">
                                    <span class="hot_deal_won">10,500원</span>
                                    <span class="hot_deal_discount">50%</span>
                                </span>
                                <span class="original_price">21,000</span>
                            </li>
                            <li>
                                <span><img
                                        src="https://shop2.daumcdn.net/shophow/c/image/content/set/ad8255/20210218144625870_589522"
                                        alt=""></span>
                                <span class="hot_deal_text">코렐 주방용품23종 균일가</span>
                                <span class="span_box">
                                    <span class="hot_deal_won">10,140원</span>
                                    <span class="hot_deal_discount">49%</span>
                                </span>
                                <span class="original_price">19,900</span>
                            </li>
                        </ul>
                    </div>
                    <div id="middle_mid">
                        <div class="middle_head">
                            <h3>쇼핑 급상승 키워드</h3>
                        </div>
                        <div>
                            <ul class="up_keyword">
                                <li>
                                    <strong>
                                        <a href="#" class="img-title">1 . 외장하드케이스</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FB5092650780.jpg%3Fut%3D20210128050250"
                                            alt="">
                                        <strong>HDD 3225 USB 3.1 Type C</strong>
                                        <span>54,580원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">2 . 프롤린유산균</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FE5095105526.jpg%3Fut%3D20200420152655"
                                            alt="">
                                        <strong>프롤린 모유 유산균 3g x 30vh x 6개</strong>
                                        <span>44,970원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">3 . 양갈비</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FW11391942808.jpg%3Fut%3D20210131031745"
                                            alt="">
                                        <strong>[고메프리미엄] 프렌치랙 양갈비 300g x 6팩/총1.8kg+시즈닝3종</strong>
                                        <span>88,900원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">4 . 아르간오일</a>
                                    </strong>
                                    <a><img src="https://shop2.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FD5100365449.jpg%3Fut%3D20201216010829"
                                            alt="">
                                        <strong>리얼메디 아르간오일 총 코로코 식용 먹는 로얄 커넬 캡슐 [1000MGX]</strong>
                                        <span>34,590원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">5 . 여성가디건</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FH12102427858.jpg%3Fut%3D20210209115721"
                                            alt="">
                                        <strong>[LBL] 21SS 트위드 니트가디건 세트</strong>
                                        <span>74,100원</span>
                                        <a>
                                </li>
                            </ul>
                            <ul class="up_keyword">
                                <li>
                                    <strong>
                                        <a href="#">6 . 음식물처리기</a>
                                    </strong>
                                    <a><img src="https://shop2.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FC5091746123.jpg%3Fut%3D20200601220556"
                                            alt="">
                                        <strong>W-110</strong>
                                        <span>54,580원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">7 . 상주곶감</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FJ11987864780.jpg%3Fut%3D20210117191457"
                                            alt="">
                                        <strong>상주 고품격 곶감선물세트 2호 (35g이상*30개입)</strong>
                                        <span>49,800원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">8 . 원목의자</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FC5083401424.jpg%3Fut%3D20180813112351"
                                            alt="">
                                        <strong>에코라인 고무나무 원목의자[CR02]</strong>
                                        <span>39,070원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">9 . 카드지갑</a>
                                    </strong>
                                    <a><img src="https://shop2.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FB5085899929.jpg%3Fut%3D20190819121354"
                                            alt="">
                                        <strong>카드지갑 [M193WF1973Z]</strong>
                                        <span>80,060원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">10 . 석류</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FD5099648624.jpg%3Fut%3D20201104170408"
                                            alt="">
                                        <strong>해든팜 새콤달콤 석류 5kg 대과 13~15입 내외</strong>
                                        <span>24,280원</span>
                                        <a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </middle>

    <script src="button.js"></script>
</body>

</html>