<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/index_header.css">
    <link rel="stylesheet" href="../stylesheets/index_middle.css">
    <!-- <link rel="stylesheet" href="fe-w3-shopping/public/stylesheets/index_header.css"> -->
    <!-- <link rel="stylesheet" href="fe-w3-shopping/public/stylesheets/index_middle.css"> -->
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="header_box">
                <h1>
                    <a href="#">
                        <img src="//search1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/logo_shw.png"
                            class="header_img">
                    </a>
                </h1>
                <div class="search_bar">
                    <input type="text" class="search_input">
                    <button>
                        <span class="button_img"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="header_multibox">
            <div class="category_cover">
                <button class="category_box">
                    카테고리
                    <span class="button_icon"></span>
                </button>
                <!-- <div>카테고리 누르면 나오는 메뉴</div> -->
                <span class="division_bar"></span>
                <ul class="menu_lists_left">
                    <li>핫딜</li>
                    <li>베스트100</li>
                    <li>할인특가</li>
                    <li>기획전</li>
                </ul>
                <span class="division_bar"></span>
                <ul class="menu_lists_center">
                    <li>#건강식품</li>
                    <li>#제철음식</li>
                    <li>#블루투스이어폰</li>
                    <li>#커블체어</li>
                    <li>노트북</li>
                </ul>
                <ul class="menu_lists_right">
                    <li>
                        <a href="#">
                            <span class="button_icon_two"></span>
                            MY 쇼핑
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            최근본 상품
                            <span class="button_icon_three"></span>
                            <span class="arrow_icon"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <middle>
        <div id="middle">
            <div class="middle_width">
                <div class="middle_box">
                    <div class="top_content">
                        <div class="best100">
                        </div>
                        <div class="slider_box">
                            <div class="slider">
                                <div class="carousel_slide"></div>
                                <div class="button_box">
                                    <button class="left">
                                        <div class="left_button"></div>
                                    </button>
                                    <button class="right">
                                        <div class="right_button"></div>
                                    </button>
                                    <div class="carousel_dot_box">
                                        <span class="carousel_dot"></span>
                                        <span class="carousel_dot"></span>
                                        <span class="carousel_dot"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="top_imglist">
                </div>
                <div id="middle_mid">
                    <div class="middle_head">
                        <h3>품절주의! 역대급 핫딜</h3>
                    </div>
                    <div class="hot_dael_box">
                    </div>
                    <div class="plus_img"></div>
                    <div id="middle_mid">
                        <div class="middle_head">
                            <h3>쇼핑 급상승 키워드</h3>
                        </div>
                        <div>
                            <ul class="up_keyword">
                                <li>
                                    <strong>
                                        <a href="#" class="img-title">1 . 외장하드케이스</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FB5092650780.jpg%3Fut%3D20210128050250"
                                            alt="">
                                        <strong>HDD 3225 USB 3.1 Type C</strong>
                                        <span>54,580원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">2 . 프롤린유산균</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FE5095105526.jpg%3Fut%3D20200420152655"
                                            alt="">
                                        <strong>프롤린 모유 유산균 3g x 30vh x 6개</strong>
                                        <span>44,970원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">3 . 양갈비</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FW11391942808.jpg%3Fut%3D20210131031745"
                                            alt="">
                                        <strong>[고메프리미엄] 프렌치랙 양갈비 300g x 6팩/총1.8kg+시즈닝3종</strong>
                                        <span>88,900원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">4 . 아르간오일</a>
                                    </strong>
                                    <a><img src="https://shop2.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FD5100365449.jpg%3Fut%3D20201216010829"
                                            alt="">
                                        <strong>리얼메디 아르간오일 총 코로코 식용 먹는 로얄 커넬 캡슐 [1000MGX]</strong>
                                        <span>34,590원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">5 . 여성가디건</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FH12102427858.jpg%3Fut%3D20210209115721"
                                            alt="">
                                        <strong>[LBL] 21SS 트위드 니트가디건 세트</strong>
                                        <span>74,100원</span>
                                        <a>
                                </li>
                            </ul>
                            <ul class="up_keyword">
                                <li>
                                    <strong>
                                        <a href="#">6 . 음식물처리기</a>
                                    </strong>
                                    <a><img src="https://shop2.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FC5091746123.jpg%3Fut%3D20200601220556"
                                            alt="">
                                        <strong>W-110</strong>
                                        <span>54,580원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">7 . 상주곶감</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FJ11987864780.jpg%3Fut%3D20210117191457"
                                            alt="">
                                        <strong>상주 고품격 곶감선물세트 2호 (35g이상*30개입)</strong>
                                        <span>49,800원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">8 . 원목의자</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FC5083401424.jpg%3Fut%3D20180813112351"
                                            alt="">
                                        <strong>에코라인 고무나무 원목의자[CR02]</strong>
                                        <span>39,070원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">9 . 카드지갑</a>
                                    </strong>
                                    <a><img src="https://shop2.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FB5085899929.jpg%3Fut%3D20190819121354"
                                            alt="">
                                        <strong>카드지갑 [M193WF1973Z]</strong>
                                        <span>80,060원</span>
                                        <a>
                                </li>
                                <li>
                                    <strong>
                                        <a href="#">10 . 석류</a>
                                    </strong>
                                    <a><img src="https://shop1.daumcdn.net/thumb/R250x250/?fname=https%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FD5099648624.jpg%3Fut%3D20201104170408"
                                            alt="">
                                        <strong>해든팜 새콤달콤 석류 5kg 대과 13~15입 내외</strong>
                                        <span>24,280원</span>
                                        <a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </middle>
    <script src="../javascripts/Carouselbutton.js"></script>
    <script src="../javascripts/main.js"></script>
    <script src="../javascripts/Carousel_mouseover.js"></script>
</body>

</html>