<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/reset.css" />
        <link rel="stylesheet" href="/stylesheets/index.css" />
    </head>

    <body>
        <div class="all-wrapper">

            <div class="header">    
                <div class="header__logo-search">
                    <div class="logo">
                        <a href="/">
                            <img src="/images/logo_shw.png" />
                        </a>
                    </div>

                    <div class="search">
                        <input
                            type="text"
                            id="search"
                            name="search"
                            size="55"
                            autocomplete="off"
                            placeholder="검색어를 입력하세요"
                        />
                        <button type="button">
                            <span class="i-search"></span>
                        </button>
                    </div>
                </div>

                <div class="header__menu">
                    <div class="header__menu__wrapper">
                        <div class="category">
                            <button type="button">
                                <span class="i-category"></span>
                                <span>카테고리</span>
                            </button>
                        </div>
                        <span class="txt-bar"></span>

                        <ul class="list-hot">
                            <li><a href="#">핫딜</a></li>
                            <li><a href="#">베스트100</a></li>
                            <li>
                                <a href="#"
                                    >할인특가<span class="emphasis"></span
                                ></a>
                            </li>
                            <li><a href="#">기획전</a></li>
                        </ul>
                        <span class="txt-bar"></span>

                        <ul class="list-hash">
                            <li><a href="#">#건강식품</a></li>
                            <li><a href="#">#제철음식</a></li>
                            <li><a href="#">#블루투스이어폰</a></li>
                            <li><a href="#">#커블체어</a></li>
                            <li>
                                <a href="#"
                                    >#노트북<span class="emphasis"></span
                                ></a>
                            </li>
                        </ul>

                        <ul class="list-usergroup">
                            <li>
                                <a href="#">
                                    <span class="i-user"></span>
                                    <span>로그인</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="i-recent"></span>
                                    <span>최근본 상품</span>
                                </a>
                            </li>
                        </ul>
                    </div>   
                </div>
            </div>

            <div class="content">

                <div class="content__event">                    
                    <div class="content__event__one">
                        <a href="/">  
                            <img src="/images/car_best.png"/>                            
                        </a>
                    </div>

                    <div class="content__event__carousel">
                        
                        <div class="carousel">                                                       
                            <img src="/images/coffee_twig.png"/>  <!-- 임시, 추후 삭제 -->    
                            <!-- 나중에 활성  -->
                            <!-- width 초과하여야함
                            <ul class="carousel__items">                                
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul>
                            -->
                        </div>

                        <div class="carousel__paging">
                            <span class="carousel__paging__inner">
                                <span class="current"></span>
                                <span></span>
                                <span></span>                                
                            </span>
  
                            <button class="carousel__paging--prev">
                                <span class="i-slide__paging--prev"></span>
                            </button>
                            <button class="carousel__paging--next">
                                <span class="i-slide__paging--next"></span>
                            </button>

                        </div>                        
                    </div>                    
                </div>

                <div class="content__more">
                    <div class="content__more__view">
                        <ul>
                            <li>
                                <a href="/">
                                    <img src="/images/itemsample.jfif" />
                                    <div>
                                        <span class="txt-bold">테스트</span>
                                        <span class="txt-info">테스트</span>
                                        <span class="i-theme"></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="/images/itemsample.jfif" />
                                    <div>
                                        <span class="txt-bold">테스트2</span>
                                        <span class="txt-info">테스트2</span>
                                        <span class="i-theme"></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="/images/itemsample.jfif" />
                                    <div>
                                        <span class="txt-bold">테스트3</span>
                                        <span class="txt-info">테스트3</span>
                                        <span class="i-theme"></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="/images/itemsample.jfif" />
                                    <div>
                                        <span class="txt-bold">테스트4</span>
                                        <span class="txt-info">테스트4</span>
                                        <span class="i-theme"></span>
                                    </div>
                                </a>
                            </li>
                            <li class="noBorder">
                                <a href="/">
                                    <img src="/images/itemsample.jfif" />
                                    <div>
                                        <span class="txt-bold">테스트5</span>
                                        <span class="txt-info">테스트5</span>
                                        <span class="i-theme"></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="/images/itemsample.jfif" />
                                    <div>
                                        <span class="txt-bold">테스트6</span>
                                        <span class="txt-info">테스트6</span>
                                        <span class="i-theme"></span>
                                    </div>
                                </a>
                            </li>
                        </ul>                        
                    </div>

                    <button type="button" class="content__more__btn" value="1">
                        더보기(1/276건)
                        <!-- 이버튼 누르면, ul(more) 안에서 아이템 ++  -->
                    </button>
                </div>

                <div class="content__hot">                    
                    <p class="content__hot__info">지금뜨는 테마 카테고리</p>

                    <div class="content__hot__carousel">
                        <!-- 버튼 클릭당 2개의 아이템 이동, 보이는 최대 갯수 5개  -->
                        <ul>
                            <li>
                                <a href="/">
                                    <img src="/images/itemsample2.jfif" />
                                    <div>
                                        <span class="txt-bold">테스트2-1</span>
                                        <span class="txt-info">테스트2-1</span>
                                        <span class="i-theme"></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="/images/itemsample2.jfif" />
                                    <div>
                                        <span class="txt-bold">테스트2-2</span>
                                        <span class="txt-info">테스트2-2</span>
                                        <span class="i-theme"></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="/images/itemsample2.jfif" />
                                    <div>
                                        <span class="txt-bold">테스트2-3</span>
                                        <span class="txt-info">테스트2-3</span>
                                        <span class="i-theme"></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="/images/itemsample2.jfif" />
                                    <div>
                                        <span class="txt-bold">테스트2-4</span>
                                        <span class="txt-info">테스트2-4</span>
                                        <span class="i-theme"></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="/images/itemsample2.jfif" />
                                    <div>
                                        <span class="txt-bold">테스트2-5</span>
                                        <span class="txt-info">테스트2-5</span>
                                        <span class="i-theme"></span>
                                    </div>
                                </a>
                            </li>
                            
                        </ul>
                        <!-- <button class="carousel__prevBtn">◁</button> -->
                        <!-- <button class="carousel__nextBtn">▷</button> -->
                    </div>                                        
                </div>
                
            </div>
        </div>
    </body>
    <script type="module" src= "./javascripts/index.js"></script>
</html>
