<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>쇼핑하우 by daisycommerce</title>
    <link rel="stylesheet" href="../public/stylesheets/style.scss" />
  </head>
  <body>
    <header>
      <div class="header__search-wrap">
        <a>
          <img
            id="main-logo"
            src="//search1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/logo_shw.png"
            alt="쇼핑하우 by kakaocommerce"
          />
        </a>
        <form class="header__search-form">
          <div class="search-form__input-wrap">
            <input type="text" class="search-form__input" />
          </div>

          <button class="search-form__btn">
            <!-- <span class="search-form__btn__icon"></span> -->
          </button>
        </form>
      </div>
      <nav class="header__nav-menu">
        <div class="list__category">
          <button id="list__category-btn"></button>
          <span>카테고리</span>
        </div>
        <ul class="header__nav-menu__list">
          <li>핫딜</li>
          <li>베스트100</li>
          <li>할인특가</li>
          <li>기획전</li>
        </ul>
        <ul class="header__nav-menu__hashtag">
          <li>#건강식품</li>
          <li>#제철음식</li>
          <li>#블루투스이어폰</li>
          <li>#커블체어</li>
          <li>#노트북</li>
        </ul>
        <ul class="header__nav-menu__user">
          <li><button id="user__login-btn"></button><span>로그인</span></li>
          <li>
            <button id="user__recently-btn"></button><span>최근본 상품</span>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="section-top">
        <div class="section-top__container">
          <div class="section-top__item">
            <img
              src="http://shop4.daumcdn.net/shophow/sib/0_210219174900_cCDgZtbAhPiBQqcJamsODOWNoVrXILeM"
            />
          </div>
          <div class="section-top__item" id="items-carousel">
            <div class="item__carousel-box">
              <!-- 여기서 부터 캐러셀 -->
              <div class="item__carousel-wrap">
                <!-- <div class="carousel-content">
                  <a href="#"" >
                    <img
                      src="//shop3.daumcdn.net/shophow/sib/0_210219175737_rZKhKlFtOPfWeMUVyowhqtRvzJJOintZ"
                  /></a>
                </div>
                <div class="carousel-content">
                  <a href="#">
                    <img
                      src="//shop2.daumcdn.net/shophow/sib/0_210219175824_lTVZxKLcBxDipjZVpYbrzginiMwRizAO"
                    />
                  </a>
                </div>
                <div class="carousel-content">
                  <a href="#">
                    <img
                      src="//shop1.daumcdn.net/shophow/sib/0_210219175816_BLrjXAFKSXpUoiPzkxzQFtLjJkHixbZX"
                    />
                  </a>
                </div>       -->
              </div>
            </div>

            <div class="item__carousel-icon">
              <span class="inner-paging">
                <span class="btn-paging">
                  <span class="paging__num-selected">1</span>
                </span>
                <span class="btn-paging"
                  ><span class="paging__num">2</span></span
                >
                <span class="btn-paging"
                  ><span class="paging__num">3</span></span
                >
              </span>
              <button class="paging-btn" id="paging-btn-prev">
                <span id="prev"></span>
              </button>
              <button class="paging-btn" id="paging-btn-next">
                <span id="next"></span>
              </button>
            </div>
          </div>

          <!-- <div class="section-top__item">
            <div class="item__img-box-wrap">
              <img
                class="img-box"
                src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&amp;scode=talkgift"
              />
              <strong class="img-title">라바트 가구 기획전</strong>
              <span class="img-text">공간 전체를 아루르는 품격있는 분위기</span>
              <span class="img-icon">테마</span>
            </div>
          </div>
          <div class="section-top__item">
            <div class="item__img-box-wrap">
              <img
                class="img-box"
                src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&amp;scode=talkgift"
              />
              <strong class="img-title">라바트 가구 기획전</strong>
              <span class="img-text">공간 전체를 아루르는 품격있는 분위기</span>
              <span class="img-icon">테마</span>
            </div>
          </div>
          <div class="section-top__item">
            <div class="item__img-box-wrap">
              <img
                class="img-box"
                src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&amp;scode=talkgift"
              />
              <strong class="img-title">라바트 가구 기획전</strong>
              <span class="img-text">공간 전체를 아루르는 품격있는 분위기</span>
              <span class="img-icon">테마</span>
            </div>
          </div>
          <div class="section-top__item">
            <div class="item__img-box-wrap">
              <img
                class="img-box"
                src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&amp;scode=talkgift"
              />
              <strong class="img-title">라바트 가구 기획전</strong>
              <span class="img-text">공간 전체를 아루르는 품격있는 분위기</span>
              <span class="img-icon">테마</span>
            </div>
          </div>
          <div class="section-top__item">
            <div class="item__img-box-wrap">
              <img
                class="img-box"
                src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&amp;scode=talkgift"
              />
              <strong class="img-title">라바트 가구 기획전</strong>
              <span class="img-text">공간 전체를 아루르는 품격있는 분위기</span>
              <span class="img-icon">테마</span>
            </div>
          </div>
          <div class="section-top__item">
            <div class="item__img-box-wrap">
              <img
                class="img-box"
                src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&amp;scode=talkgift"
              />
              <strong class="img-title">라바트 가구 기획전</strong>
              <span class="img-text">공간 전체를 아루르는 품격있는 분위기</span>
              <span class="img-icon">테마</span>
            </div>
          </div>
          <div class="section-top__item">
            <div class="item__img-box-wrap">
              <img
                class="img-box"
                src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&amp;scode=talkgift"
              />
              <strong class="img-title">라바트 가구 기획전</strong>
              <span class="img-text">공간 전체를 아루르는 품격있는 분위기</span>
              <span class="img-icon">테마</span>
            </div>
          </div>
          <div class="section-top__item">
            <div class="item__img-box-wrap">
              <img
                class="img-box"
                src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&amp;scode=talkgift"
              />
              <strong class="img-title">라바트 가구 기획전</strong>
              <span class="img-text">공간 전체를 아루르는 품격있는 분위기</span>
              <span class="img-icon">테마</span>
            </div>
          </div>
          <div class="section-top__item">
            <div class="item__img-box-wrap">
              <img
                class="img-box"
                src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&amp;scode=talkgift"
              />
              <strong class="img-title">라바트 가구 기획전</strong>
              <span class="img-text">공간 전체를 아루르는 품격있는 분위기</span>
              <span class="img-icon">테마</span>
            </div>
          </div>
          <div class="section-top__item">
            <div class="item__img-box-wrap">
              <img
                class="img-box"
                src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&amp;scode=talkgift"
              />
              <strong class="img-title">라바트 가구 기획전</strong>
              <span class="img-text">공간 전체를 아루르는 품격있는 분위기</span>
              <span class="img-icon">테마</span>
            </div>
          </div> -->
          <!-- <div class="section-top__item">
            <div class="item__img-box-wrap">
              <img
                class="img-box"
                src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop2.daumcdn.net%2Fshophow%2Fp%2FO6937905659.jpg%3Fut%3D20190620152627&amp;scode=talkgift"
              />
              <strong class="img-title">라바트 가구 기획전</strong>
              <span class="img-text">공간 전체를 아루르는 품격있는 분위기</span>
              <span class="img-icon">테마</span>
            </div>
          </div> -->
        </div>
        <div class="view-more">
          <span class="view-more___btn">더 보기(0 / 100 건) </span>
        </div>
      </section>
    </main>
    <!-- 
    <section class="carousel">
      <div class="carousel__title">지금뜨는 테마 카테고리</div>
      <ul class="carousel_items">
        <li>깔끔한 감성 가구 #두닷</li>
        <li>영화관처럼 빵빵한 음질 #사운드바</li>
        <li>디자인도 예쁜 LED 조명 거울</li>
        <li>촉촉하고 향기롭게 바디 미스트</li>
        <li>속건조 완화를 돕는 앰플</li>
      </ul>

    </section>
    <section class="partners">
      <div class="partners__wrap">
        <span>쇼핑하우 파트너</span>
        <div class="wrap__list-total">
          <div class="list-total__sub">
            <strong class="list-title">오픈마켓</strong>
            <ul class="list__mall">
              <li><a href="#">G마켓</a></li>
              <li><a href="#">옥션</a></li>
              <li><a href="#">11번가</a></li>
              <li><a href="#">인터파크</a></li>
            </ul>
          </div>
          <div class="list-total__sub"">
            <strong class="list-title">백화점</strong>
            <ul class="list__mall">
              <li><a href="#">G마켓</a></li>
              <li><a href="#">옥션</a></li>
              <li><a href="#">11번가</a></li>
              <li><a href="#">인터파크</a></li>
            </ul>
          </div>
          <div class="list-total__sub"">
            <strong class="list-title">백화점</strong>
            <ul class="list__mall">
              <li><a href="#">G마켓</a></li>
              <li><a href="#">옥션</a></li>
              <li><a href="#">11번가</a></li>
              <li><a href="#">인터파크</a></li>
            </ul>
          </div>
          <div class="list-total__sub"">
            <strong class="list-title">백화점</strong>
            <ul class="list__mall">
              <li><a href="#">G마켓</a></li>
              <li><a href="#">옥션</a></li>
              <li><a href="#">11번가</a></li>
              <li><a href="#">인터파크</a></li>
            </ul>
          </div>
          <div class="list-total__sub"">
            <strong class="list-title">백화점</strong>
            <ul class="list__mall">
              <li><a href="#">G마켓</a></li>
              <li><a href="#">옥션</a></li>
              <li><a href="#">11번가</a></li>
              <li><a href="#">인터파크</a></li>
            </ul>
          </div>
          <div class="list-total__sub"">
            <strong class="list-title">백화점</strong>
            <ul class="list__mall">
              <li><a href="#">G마켓</a></li>
              <li><a href="#">옥션</a></li>
              <li><a href="#">11번가</a></li>
              <li><a href="#">인터파크</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer><p class="shop-info">
      (주)카카오커머스는 통신판매중개자로서 통신판매의 당사자가 아니며 상품의 주문, 배송 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.<br>
      최종 상품 정보는 구매 전 판매처에서 반드시 확인해주세요.<br>
      각 판매처의 매매보호 서비스를 통해 구매안전 절차 확인 후(에스크로/소비자피해보험/채무지금보증계약) 상품을 구매해 주시기 바랍니다.
    </p></footer>
    <small class="copyright">Copyright © daisycommerce Corp. All rights reserved.</small> -->

    <script type="module" src="../public/javascripts/main.js"></script>
  </body>
</html>
