<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑하우</title>
    <link rel="stylesheet" href="style/reset.css"> 
</head>
<body>
    <div>
        <%= homeContents.contents[0].eventContent.title %>
    </div>
    <div class="header__container">
        <header>
            <a href="#"><img></a>
            <div></div>
        </header>

        <nav>
            <button></button>
            <ul>
                <li><a href="#">핫딜</a></li>
                <li><a href="#">베스트100</a></li>
                <li><a href="#">할인특가</a></li>
                <li><a href="#">기획전</a></li>
            </ul>
            <ul>
                <li><a href="#">#수능 선물</a></li>
                <li><a href="#">#김치 냉장고</a></li>
                <li><a href="#">#체험 가습기</a></li>
                <li><a href="#">#구스다운</a></li>
                <li><a href="#">#온수매트</a></li>
            </ul>
            <ul>    
                <li><a href="#">로그인</a></li>
                <li><a href="#">최근본 상품</a></li>
            </ul>
        </nav>
    </div> <!-- .header__container -->

    <div class="content__container">
        <div class="content__banner">
            <div class="banner__evt">
                <div class="banner__left"><a href="#">
                    <img>
                </a></div>
                <div class="banner__right"><a href="#">
                    <img>
                </a></div>
            </div>

            <ul class="banner__list">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div> <!-- .content__banner -->

        <div class="content__middle">

        </div>
    </div>

</body>
</html>