.header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1 {
        padding: 0 50px;
    }
}

.search_bar {    

    .search_input {
        width: 300px;
        padding: 17px 61px 15px 31px;
    }
}