<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"
    ></script>
    <script type="module" src="/js/main.js" defer></script>
    <title>FE-3-shoppingHow</title>
  </head>
  <body>
    <header class="header"><% include ./parts/header %></header>
    <section class="under-nav-wrapper"><% include ./parts/underNav %></section>
    <main class="main">
      <section class="main-top-section">
        <% include ./parts/sectionTop %>
      </section>
      <section class="main-theme-category-wrapper">
        <% include ./parts/sectionThemeCategory %>
      </section>
    </main>
  </body>
</html>
