#middle {
    background-color: #f3f3f3;
    width:100%;
    padding-top: 19px;
    margin: 0 auto;
    text-align: -webkit-center;
}

.middle_width {
    width: 1280px;
}

.middle_box {
    width:1280px;
    justify-content: center;
    border: 1px solid #cdcdcd;
}

.top_content {
    display: flex;
    box-sizing: border-box;
    background-color: white;

    .best100 {
        width:509px;
        height:340px;
    }
    
    .slider_box {
        position:relative;
        width:770px;
        border-left: 1px solid #cdcdcd;

        .slider {
            display: flex;
            justify-content: center;
            width:485px;
            overflow: hidden;
    
            .carousel_slide {
               display: flex;
                width: 1455px;
            }

            .trans_right {
                transform: translateX(-485px);
            }
            
            .trans_left {
                transform: translateX(485px);
            }

            .on {
                transition: transform 0.3s ease-in-out;
            }
            
            // .trans {
            //     transition : transform 0.3s ease-in-out;
            // }

            .items {
                width: 485px;
                height: 340px;
            }

            .button{
                position: absolute;
                top:35%;
                width: 63px;
                height: 85px;
                background-color: transparent;
                outline: none;
                border: none;
                // background-color: red;
                text-align: -webkit-center;
                cursor: pointer;
                &:active {
                    transform: translateY(2px);
                }
            }
    
            .left {
                @extend .button;
                left:50px;
     
                .left_button {
                    width: 23px;
                    height: 45px;
                    background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_150131.png) no-repeat;
                    background-position: 0 0;
                    }
                }        
            }
    
            .right {
                @extend .button;
                right: 50px;
    
                .right_button {
                    width: 23px;
                    height: 45px;
                    background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_150131.png) no-repeat;
                    background-position: -30px 0;
                }
            }
    }
}

.top_imglist {
    width: 1282px;

    a {
        position:relative;
        color:black;
        text-decoration: none;
        
        strong {
            display: block;
            overflow:hidden;
            font-size: 14px;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 10px 0 1px;
        }

        .img_text {
            display: block;
            text-overflow: ellipsis;
            font-size: 12px;
            letter-spacing: -1px;
        }
    }
    ul {
        display: flex;
        background-color: white;
        border: 1px solid #cdcdcd;
        border-top:none;
        padding:0;
        margin:0;
    }
    li {
        width:200px;
        height:276px;
        cursor: pointer;
        text-align: left;
        border-right: 1px solid #cdcdcd;
        padding: 21px 27px;
        list-style-type: none;
        &:last-child {
            border:none;
        }
    }
    img {
        width:200px;
        height: 200px;
    }

    .tema_icon {
        float:left;
        margin: 11px 4px 0 0;
        width: 32px;
        height: 17px;
        background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/img/ico_comm2_150514.gif) no-repeat;
        background-position: 0 -850px;
    }
}

#middle_mid {
    margin-top: 50px;
}

.middle_head {
    text-align: left;
    margin-bottom: 11px;
    
    h3 {
        margin:0;
    }
}

.middle_img {
    list-style-type: none;
    display: flex;
    background-color: white;
    border: 1px solid #cdcdcd;
    padding:0;
    margin:0;
    &:last-child {
        border-top: none;
    }

    li {
        position:relative;
        padding: 25px 27px 20px;
        border-right: 1px solid #cdcdcd;
        &:last-child {
            border: none;
        }

        .hot_deal_text {
            display: block;
            text-align: left;
            font-size: 12px;
            letter-spacing: -1px;
            margin-top: 11px;
            height: 40px;
        }

        .hot_deal_won {
            font-weight: 700;
            font-size: 14px;
        }

        .hot_deal_discount {
            color:#fc363c;
            font-size: 24px;
            padding-right: 5px;
        }

        .original_price {
            display: block;
            margin-top: -9px;
            color: gray;
            font-size: 13px;
            text-align: left;
            text-decoration: line-through;
        }

        .span_box {
            display: flex;
            justify-content: space-between;
            height: 43px;
        }
    }

    img {
        width:200px;
        height:200px;
    }
}

.up_keyword {
    list-style-type: none;
    display: flex;
    background-color: white;
    border: 1px solid #cdcdcd;
    padding:0;
    margin:0;
    &:last-child {
        border-top: none;
    }

    li {
        position:relative;
        padding: 25px 27px 20px;
        border-right: 1px solid #cdcdcd;
        &:last-child {
            border: none;
        }

        .img-title {
            padding-bottom: 15px;
        }

        a {
            display: block;
            color:black;
            width: 200px;
            font-size: 14px;
            text-align: left;
            text-decoration: none;

            strong {
                display: block;
                font-size: 12px;
                font-weight: 400;
                height: 30px;
                margin: 5px 0 12px;
                letter-spacing: -1px;
            }

            span {
                font-weight: 700;
                font-size: 12px;
            }
        }
    }

    img {
        width:200px;
        height:200px;
    }

}