<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <img src='<%= home.contents[0].eventContent.imgurl %>'>
  <img src='<%= event.mileageList[0].imgurl %>'>
</body>

</html>