<!DOCTYPE html>
<html lang="en">
<head>
    <title>쇼핑하우 클론</title>
    <link rel = "stylesheet" href="/stylesheets/main.css">
</head>
<body>

    <section class = "header">
        <div class = "head_top">
             <img class = "main_icon" src = "/images/logo_shw.png">
             <div class = "search_box">
                 <input class = "search">
                 <button></button>
             </div>
        </div>
        <div class = "nav">
            <button class = "category"></button>
            <a class = "hotDeal"></a>
            <a class = "bestRank"></a>
            <a class = "sale"></a>
            <a class = "event"></a>
            <a class = "healthFood"></a>
            <a class = "seasonFood"></a>
            <a class = "blueTooth"></a>
            <a class = "curbleChair"></a>
            <a class = "noteBook"></a>
            <a class = "login"></a>
            <a class = "pastViewProduct"></a>
        </div>
    </section>

    <section class = "main">
        <table class = "main_table">
            <tr>
                <td class= "best_suggest"><img src = "/images/main_01.png"></td>
                <td class = "event_slide">
                    <div class = "left_button"></div>
                    <div class = "slide_images">
                        <img src = "/images/sub_01.png">
                        <img src = "/images/sub_02.png">
                        <img src = "/images/sub_03.png">
                        <div class = "slide_paging"></div>
                    </div>
                    <div class = "rightt_button"></div>
                </td>
            </tr>
            <tr>   
                <!--item 들어갈 행-->
            </tr>
            <tr>
                <td><button class = "show_more"></button></td>
            </tr>
        </table>
        지금뜨는 테마 카테고리
        <table class = "sub_table">
            <tr>
                <!--item 들어갈 행-->
            </tr>
        </table>
    </section>
    <script src = "/javascripts/mainJavaScript.js"></script>
</body>
</html>