.header__nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 135px 599.5px 0px 599.5px;
  border-bottom: rgb(255, 0, 0) 1px solid;
  background-color: coral;
  height: 200px;
  width: 100%;

  .header__nav-menu__list {
    outline: olivedrab solid;
    display: flex;

    li {
      padding: 0 19px;
    }
  }

  .header__nav-menu__hashtag {
    display: flex;

    li {
      padding: 0 19px;
    }
  }
  .header__nav-menu__user {
    display: flex;

    li {
      padding: 0 19px;
    }
  }
}
