$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

@use 'reset';

.area_headtop {
    display: inline-block;
    // border:solid 1px;
    width:843px;
}

.tit_shw {
    display: inline-block;
    float: left;
    margin-top: 4px;
}

.tit_shw > a {
    display: block;
}

.wrap_shwsearch{
    display: inline-block;
    float: right;
    margin: 0 24px 0 30px;
    z-index: 1060;
}

#logo_shw{
    width: 119px;
    height: auto;
}

#ico_search {
    left: 14px;
    top: 15px;
    width: 23px;
    height: 23px;
}

.box_search {
    width: 670px;
    height: 54px;
    border: 1px solid #cecfd1;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
}

.head_shw {
    padding-top: 43px;
    font-family: Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,Dotum,돋움,sans-serif;
    background-color: #fff;
    text-align: center;
    min-width: 977px;
}

.btn_shwsearch {
    float: right;
    right: 0;
    top: 0;
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: none;
    margin:0;
    padding:0;
    outline:none;
    cursor: pointer;
}

.input_box{
    border: 0;
    margin: 0 20px;
    padding: 0;
    height: 100%;
    width: 570px;
    float: left;
    outline:none;
    cursor: auto;
}

.area_shwgnb {
    width:100%;
    height:54px;
    display:block;
    position: relative;
    margin-top: 40px;
    border-top: 1px solid #efefef;
    box-shadow: 0 1px rgba(0,0,0,.16);
}

.wrap_shwgnb{
    width: 100%;
    display: flex;
    align-items:center;
}

.wrap-shwcate {
    float: left;
    position: relative;
    z-index: 1050;
    align-items:center;
}

.list_shwgnb{
    display:flex;
    flex-direction: row;
    list-style:none;
}

.list_kwrodgnb{
    display: flex;
    flex-direction: row;
    list-style:none;
}

.list_usergnb{
    display:flex;
    flex-direction: row; 
    margin-left: auto;
}

.ico_user{
    display:flex;
    flex-direction: row;
}

.loginBtn{
    display: flex;
    flex-direction: row;
    width:103px;
    align-items: center;
}

.productBtn{
    display: flex;
    flex-direction: row;
    width:154px;
    align-items: center;
}

.categoryBtn{
    align-items: center;
}