header
    width: 100%
    padding-top: 43px
    font-family: Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,Dotum,돋움,sans-serif
    background-color: #fff
    text-align: center
    min-width: 977px

.header__searchbar
    display: inline-block
    vertical-align: top

    img
        width: 119px
        height: auto
    input
        float: right
        margin: 0 24px 0 30px
        width: 670px
        height: 54px
        padding: 16px 60px 14px 30px
        border: 1px solid #cecfd1
        border-radius: 10px
        background-color: #fff
        box-sizing: border-box

.header__navbar
    border-top: 1px solid #efefef
    width: 100%
    margin: 0 auto
    height: 54px
    display: block
    margin-top: 50px
    div
        float: left

    ul
        float: left
        li
            float: left
            padding: 0 13px
            color: #222
.header__navbar__login
    float: right
