<nav class="nav">
  <div class="nav-item nav-search-wrap">
    <div class="nav-logo">
      <img src="/img/logo.png" alt="logo" />
    </div>
    <form action="" class="nav-search-bar">
      <input type="text" name="search" class="search-bar" />
      <i class="fas fa-search"></i>
    </form>
    <ol class="nav-search-rank">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </div>
</nav>
