<article class="main-top-article">
  <div class="main-top-article-fristline">
    <div class="main-top-firstline-img">
      <a href="#"><img src="/img/main-top-1.png" alt="main-top-first-img" /></a>
    </div>
    <div class="main-top-firstline-img slide">
      <div class="arrow-btn arrow-btn-left">
        <button><i class="fas fa-angle-left"></i></button>
      </div>
      <div class="main-top-slide-imgs">
        <div class="main-top-slide-container">
          <!-- 이미지를 동적으로 불러온다 (LoadItem.js 파일 참조)-->
        </div>
      </div>
      <div class="arrow-btn arrow-btn-right">
        <button><i class="fas fa-angle-right"></i></button>
      </div>
      <ul class="main-top-slide-select">
        <li class="page-btn active" data-index="0"></li>
        <li class="page-btn" data-index="1"></li>
        <li class="page-btn" data-index="2"></li>
      </ul>
    </div>
  </div>
  <ul class="main-top-article-secondline"></ul>
  <div class="main-top-article-btn-container">
    <div class="show-btn">
      <button>
        <span
          >더보기
          <span>(</span>
          <span class="show-imgs-count"></span>
          <span>/</span>
          <span class="show-imgs-total"></span>
          <span>건)</span>
          <span><i class="fas fa-angle-down"></i></span>
        </span>
      </button>
    </div>
  </div>
</article>
