<div class="main-theme-title">
  <h3>지금 뜨는 테마 카테고리</h3>
</div>
<article class="main-theme-category-container">
  <ul class="main-theme-category-lists">
    <li class="main-theme-category-list">
      <a class="main-theme-cateogry-img" href="#"
        ><img src="/img/main-top-7.jpg" alt="theme-category-img"
      /></a>
      <div class="main-theme-category-description">
        <h6>지금은 신품종 전성시대</h6>
        <p>늘 먹던 과인 대신 조금 색다르게 맛봐요!</p>
      </div>
    </li>
    <li class="main-theme-category-list">
      <a class="main-theme-cateogry-img" href="#"
        ><img src="/img/main-top-7.jpg" alt="theme-category-img"
      /></a>
      <div class="main-theme-category-description">
        <h6>지금은 신품종 전성시대</h6>
        <p>늘 먹던 과인 대신 조금 색다르게 맛봐요!</p>
      </div>
    </li>
    <li class="main-theme-category-list">
      <a class="main-theme-cateogry-img" href="#"
        ><img src="/img/main-top-7.jpg" alt="theme-category-img"
      /></a>
      <div class="main-theme-category-description">
        <h6>지금은 신품종 전성시대</h6>
        <p>늘 먹던 과인 대신 조금 색다르게 맛봐요!</p>
      </div>
    </li>
    <li class="main-theme-category-list">
      <a class="main-theme-cateogry-img" href="#"
        ><img src="/img/main-top-7.jpg" alt="theme-category-img"
      /></a>
      <div class="main-theme-category-description">
        <h6>지금은 신품종 전성시대</h6>
        <p>늘 먹던 과인 대신 조금 색다르게 맛봐요!</p>
      </div>
    </li>
    <li class="main-theme-category-list">
      <a class="main-theme-cateogry-img" href="#"
        ><img src="/img/main-top-7.jpg" alt="theme-category-img"
      /></a>
      <div class="main-theme-category-description">
        <h6>지금은 신품종 전성시대</h6>
        <p>늘 먹던 과인 대신 조금 색다르게 맛봐요!</p>
      </div>
    </li>
  </ul>
  <div class="main-theme-arrow-btn left-arrow">
    <button><i class="fas fa-angle-left"></i></button>
  </div>
  <div class="main-theme-arrow-btn right-arrow">
    <button><i class="fas fa-angle-right"></i></button>
  </div>
</article>
