<div class="main-theme-title">
  <h3>지금 뜨는 테마 카테고리</h3>
</div>
<article class="main-theme-category-container">
  <ul class="main-theme-category-lists"></ul>
  <div class="main-theme-arrow-btn left-arrow">
    <button><i class="fas fa-angle-left"></i></button>
  </div>
  <div class="main-theme-arrow-btn right-arrow">
    <button><i class="fas fa-angle-right"></i></button>
  </div>
</article>
