@charset "UTF-8";

$default-fontSize: 12px;
$default-fontFamily: NanumGothic, '나눔고딕', 'Nanum Gothic', 'Malgun Gothic',
    '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, Arial, sans-serif;
$default-color: #333;
$default-backgroundColor: #f3f3f3;
$default-lineHeight: 1.5;
$default-width: 1280px;

$lightGray: #f1f1f1;
$white: #fff;
$gray: #ccc;
$gray_2: #888;
$auto: 0 auto;

body {
    font-size: $default-fontSize;
    font-family: $default-fontFamily;
    color: $default-color;
    background-color: $default-backgroundColor;
    line-height: $default-lineHeight;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: $default-color;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 전체 Wrapper
.all-wrapper {
    width: 100%;
    margin: 0 auto;
}
