.icon
    background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/ico_gnb_shw.png) no-repeat;
    background-size: 130px 90px
.ico_menu
    left: 4px
    background-position: 0 -30px
