<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="header-wrapper">
    <div class="header">
      <div class="header__logo">
        <img src="/images/logo_shw.png" alt="logo">
      </div>
      <div class="header__search-bar">
        <input class="header__search-bar--content" type="text" placeholder="9 낮잠이불">
        <button class="header__search-bar--icon">🔍︎</button>
      </div>
    </div>
  </div>
  <div class="navbar-wrapper">
    <div class="navbar">
      <div class="navbar__category">
        <img width="20px" src="images/list.svg" alt="icon-category">
        <span>카테고리</span>
      </div>
      <div class="navbar__menu">
        <div class="navbar__menu--item">
          <span>핫딜</span>
          <span>베스트 100</span>
          <span>할인특가</span>
          <span>기획전</span>

        </div>
        <div class="navbar__menu--user">
          <span>
            <img width="20px" src="images/people.svg" alt="icon-user">
            <span>로그인</span>
          </span>
          <span>
            <img width="20px" src="images/plus.svg" alt="icon-recent">
            <span>최근 본 상품</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main__1st-content">
      <span class="_1st-content--best">
        <img src="images/vacuum.png" alt="best100">
      </span>
      <span class="_1st-content--slide">
        <div class="slide--wrapper">
          <span class="slide--item">
            <img src="images/bag.png" alt="curation1">
          </span>
          <span class="slide--item">
            <img src="images/diygagoo.png" alt="curation2">
          </span>
          <span class="slide--item">
            <img src="images/twignewyork.png" alt="curation3">
          </span>
        </div>
        <span class="slide--arrow">
          <button class="left-button">＜</button>
          <button class="scroll-button"></button>
          <button class="scroll-button"></button>
          <button class="scroll-button"></button>
          <button class="right-button">＞</button>
        </span>
      </span>
    </div>
    <ul class="main__2nd-content">
      <li>
        <img src="images/jemyun.jpg" alt="">
        <div class="_2nd-content--title">원하는 재료를 넣어 뽑는 제면기</div>
        <div class="_2nd-content--description">집에서 맛보는 쫄깃한 면발</div>
      </li>
      <li>
        <img src="images/gobal.jpg" alt="">
        <div class="_2nd-content--title">고발색 명품 블러셔 모음</div>
        <div class="_2nd-content--description">두 뺨을 화사하게 물들여요</div>
      </li>
      <li>
        <img src="images/ifeof.jfif" alt="">
        <div class="_2nd-content--title">매력 넘치는 브랜드 이프어프</div>
        <div class="_2nd-content--description">귀엽고 특이한 디자인으로 모아봤어요.</div>
      </li>
      <li>영롱하게 빛나는</li>
    </ul>
    <div class="main__see-more-button">더보기▽</div>
    <ul class="main__3rd-content">
      <!-- 품절주의! 역대급 핫딜 -->
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>





  <script type="module" src="./javascripts/slide.js"></script>
</body>

</html>