<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/reset.css' />
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <div class="header-wrapper">
    <div class="header">
      <div class="header__logo">
        <img src="/images/logo_shw.png" alt="logo">
      </div>
      <div class="header__search-bar">
        <input class="header__search-bar--content" type="text" placeholder="9 낮잠이불">
        <button class="header__search-bar--icon">🔍︎</button>
      </div>
    </div>
  </div>
  <div class="navbar-wrapper">
    <div class="navbar">
      <div class="navbar__category">
        <img width="20px" src="images/list.svg" alt="icon-category">
        <span>카테고리</span>
      </div>
      <div class="navbar__menu">
        <div class="navbar__menu--item">
          <span>핫딜</span>
          <span>베스트 100</span>
          <span>할인특가</span>
          <span>기획전</span>

        </div>
        <div class="navbar__menu--user">
          <span>
            <img width="20px" src="images/people.svg" alt="icon-user">
            <span>로그인</span>
          </span>
          <span>
            <img width="20px" src="images/plus.svg" alt="icon-recent">
            <span>최근 본 상품</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main__1st-content">
      <span class="_1st-content--best">
        <img src="images/vacuum.png" alt="best100">
      </span>
      <span class="_1st-content--slide">
        <div class="slide--wrapper">
          <span class="slide--item">
            <!-- <img src="" alt=""> -->
          </span>
          <span class="slide--item">
            <!-- <img src="" alt=""> -->
          </span>
          <span class="slide--item">
            <!-- <img src="" alt=""> -->
          </span>
        </div>
        <span class="slide--arrow">
          <button class="left-button">＜</button>
          <button class="scroll-button"></button>
          <button class="scroll-button slide-on"></button>
          <button class="scroll-button"></button>
          <button class="right-button">＞</button>
        </span>
      </span>
    </div>
    <div class="main__2nd-content">
      <!-- ul>li*4 로딩시 삽입 -->
    </div>
    <div class="main__see-more-button">더보기▽</div>
    <ul class="main__3rd-content">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>





  <script type="module" src="./js/main.js"></script>
</body>

</html>