<!DOCTYPE html>
<html>
  <head>
    <title>쇼핑하우</title>
    <link rel='stylesheet' href='/CSS/normalize.css'/>
    <link rel='stylesheet' href='/CSS/reset.css'/>
    <link rel='stylesheet' href='/CSS/style.css' />
  </head>
  <body>
    <%#header.scss%>
    <header>
      <div class="header__top">
        <span><img class="sh-logo" src='/images/logo_sh.png' alt="shoppinghow logo"></span>
        <div class="searchbox">
          <button>
            <span class="search-icon"></span>
          </button>
        </div>
      </div>
      <nav class="nav-container">
        <div>
          <ul class="nav_first">
            <li class="nav_first__button"><button class="category"><span class="menu-icon"></span>카테고리</button></li>
            <span class="txt_bar"></span>
            <li><a class="tab_bold">핫딜</a></li>
            <li><a class="tab_bold">베스트100</a></li>
            <li><a class="tab_bold special_sale">할인특가</a></li>
            <li><a class="tab_bold">기획전</a></li>
          </ul>
          <ul class="nav_middle">
            <span class="txt_bar"></span>
            <li><a class="tab_light">#수능 선물</a></li>
            <li><a class="tab_light">#김치냉장고</a></li>
            <li><a class="tab_light">#복합 가습기</a></li>
            <li><a class="tab_light">#구스다운</a></li>
            <li><a class="tab_light">#온수매트</a></li>
          </ul>
          <ul class="nav_last">
            <li class="nav_last__list">
              <a class="login_container">
                <span class="login-icon"></span>
                로그인
              </a>
            </li>
            <li class="nav_last__list">
              <a class="recent_view">
                <span class="recent-icon"></span>
                최근본 상품
                <span class="arrow-icon"></span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="main">
      <div class="grid_container">
        <div class="cell upper-half__left"></div>
        <div class="cell upper-half__right">
        <%#여기서부터 미니캐러셀%>
          <div class="carousel1">
            <div class="carousel__btn-container">
              <button type="button" class="btn_prev" title="이전">
                <span class="icon-slide-prev icon-prev"></span>
              </button>
            </div>
            <div class="slide-window">
              <ul class="slide">
              </ul>
            </div>
            <div class="carousel__btn-container">
              <button type="button" class="btn_next" title="다음">
                <span class="icon-slide-next icon-next"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="cell cell-bottom"></div>
        <div class="cell cell-bottom"></div>
        <div class="cell cell-bottom"></div>
        <div class="cell cell-bottom"></div>
        <div class="cell cell-bottom"></div>
        <div class="cell container_btn_more">
          <button class="btn_more_info">더보기(1 / n건)</button>
        </div>
      </div>
    </section>
    <section class="hot_category">
      <div class="hot_category__title">
        <h2>지금 뜨는 테마 카테고리<h2>
      </div>
      <div class="carousel2">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <div class="footer"></div>
    </section>
    <script type="module" src="/JS/index.js"></script>
  </body>
</html>
