* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: red;
}

button,
button:focus {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
ul,
li {
  list-style: none;
}

body {
  background: #f3f3f3;
}

header {
  background: #fff;
  width: 100vw;
  height: 193px;
  padding-top: 43px;
  border-bottom: 1px solid #cecfd1;
  .area_top {
    width: 843px;
    height: 55px;
    display: flex;
    margin: 0 auto;

    img {
      width: 119px;
      height: auto;
    }
    .area_top__search {
      position: relative;
      width: 670px;
      height: 54px;
      margin: 0 auto;
      border: 1px solid #cecfd1;
      border-radius: 10px;
      padding-left: 30px;
      input {
        width: 92%;
        height: 100%;
        border: none;
        font-weight: bold;
        font-size: 20px;
      }
      button {
        height: 100%;
        width: 8%;
        color: rgb(255, 45, 45);
        position: absolute;
        font-size: 23px;
        top: 0;
        right: 0;
      }
    }
  }
  nav {
    width: 100vw;
    height: 55px;
    border-top: 1px solid #e3e3e3;
    margin-top: 40px;
    .nav_container {
      display: flex;
      height: 100%;
      justify-content: space-between;
      width: 67%;
      margin: 0px auto;
      align-items: center;
      .nav_left {
        height: 100%;
        display: flex;
        font-size: 16px;
        align-items: center;
        .category {
          width: 122px;
          height: 100%;
          display: flex;
          align-items: center;
          i {
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            font-size: 12.2px;
            padding: 8px;
            margin: 0px 6px 0px 1px;
          }
        }
        .show {
          display: flex;
          font-weight: bold;
          align-items: center;
          li {
            padding: 0 13px;
          }
        }
        .keyword {
          display: flex;
          font-weight: bold;
          color: #808080;
          align-items: center;
          li {
            padding: 0 10px 0 0;
          }
        }
      }
      .nav_right {
        .user {
          display: flex;
          div {
            padding: 0 10px;
          }

          i {
            font-size: 20px;
            color: white;
            background: black;
            border-radius: 50%;
            padding: 5px;
          }
          i:last-child {
            font-size: 16px;
            color: black;
            background: white;
          }
        }
      }
    }
    .nav_line {
      float: left;
      width: 1px;
      height: 18px;
      margin-top: 4px;
      background-color: #e3e3e3;
    }
  }
}

main {
  width: 100vw;
  .main_wrapper {
    background: #fff;
    width: 1274px;
    margin: 0 auto;

    .main_container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 340px auto 300px;
    }
    .section_best {
      width: 510px;
      height: 340px;
      padding: 0 12.5px;
      border: 0.1px #e2e2e2 solid;

      img {
        height: 330px;
      }
    }
    .section_themes {
      width: 764px;
      height: 340px;
      position: relative;
      border: 0.1px solid #e2e2e2;
      .slide_box {
        position: relative;
        width: 514px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
      }
      .slide_paging {
        .prev_button {
          position: absolute;
          left: 5%;
          top: 36%;
          opacity: 0.6;
          font-size: 60px;
          color: #dedede;
          font-weight: lighter;
        }

        .next_button {
          position: absolute;
          right: 5%;
          opacity: 0.6;
          top: 36%;
          font-size: 60px;
          font-weight: lighter;
          color: #dedede;
        }

        button:hover {
          opacity: 1;
        }

        .slide_paging_square {
          position: absolute;
          bottom: 20%;
          font-size: 1px;
          color: #a7a7a7;
          left: 46%;
          li {
            background: #a7a7a7;
            display: inline;
            padding: 0 6px;
            margin: 0 2px;
          }

          .black {
            background: black;
            color: black;
          }
        }
      }
    }
    .section_products {
      width: 100%;
      border: 0.1px solid #e2e2e2;
      grid-column: 1/3;
      grid-row: 2/3;

      .section_products_seeMore {
        width: 100%;
        background-color: #e9e9e9;
        height: 55px;
        font-size: 16px;
      }
      .section_products_list {
        display: flex;
        li {
          border: 0.1px solid#e2e2e2;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 254.5px;
          height: 318px;
          padding: 21px 27px;

          .ellipsis {
            margin-top: 10px;
            display: inline-block;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
            font-size: 14px;
          }
          span {
            font-size: 11px;
          }
          .span_theme {
            width: 31px;
            margin-top: 11px;
            padding-left: 3px;
            font-size: 12px;
            border: 1px solid #ff713d;
            border-radius: 4px;
            color: #ff713d;
          }
        }

        img {
          width: 200px;
          height: 200px;
        }
      }
    }
    .section_categories {
      border: 2px solid #e2e2e2;
      grid-column: 1/3;
    }
  }
}

main {
  .slide_list {
    display: flex;
    width: 1542px;
    li {
      margin: 0 14.5px;
      width: 514px;
      float: left;
    }
  }
}
