.b{
    font-weight: bold;
}
.u{
    text-decoration: underline;
}
.transparent{
    visibility: hidden;
}
li {
    display: inline;
}
h4{
    font-size : 2rem;
    font-weight: bold;
}
.topbar--background{
    background-color: black;
}
.topbar--content{
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    text-decoration: underline;
}
.main--background{
    background-image: url(./src/main-wide.jpg);
    background-position:bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
.main {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 35rem;
    color: white;
}
.main__menu {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.main__logo {
    padding-right: 5rem;
}
.main__menu{
    padding-top: 1rem;
}
.main__site-menu>span{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.main__user-menu{
    display: inline-flex;
    align-items: center;
}
.main__user-menu>span{
    padding-left: 1rem;
    padding-right: 1rem;
}
.main__user-menu>span:first-child{
    padding-left: 0;
    padding-right: 0;
}
.main__user-menu--user{
    background-color: white;
    height: 2.5rem;
    border-radius: 2rem;
    padding: 5px;
    border: none;
}
.main__user-menu--user>svg{
    background-color: transparent;
    border-style: unset;
    color: #717171;
    flex: 0 0 30px;
    height: 30px;
    margin-left: 10px;
    z-index: 1;
}
.main__user--tab{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    position: absolute;
    top: 7rem;
    right: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 10rem;
    line-height: 150%;
    z-index: 1;
}
.main__user--tab>div{
    padding-top: 0.5rem;
}
.main__user--tab>div:first-child{
    padding-top: 0rem;
}
.main__search-bar{
    display: inline-flex;
    color: black;
    background-color: white;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 7rem;
    padding: 0.5rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    line-height: 140%;
    justify-content: space-between;
    align-items: center;
}
.main__search-bar--content{
    padding-left: 1rem;
    border-left: solid 1px rgba(0, 0, 0, 0.2);
}
.main__search-bar--content:first-child{
    border-left: unset;
}
.main_search-bar--button{
    border-radius: 100%;
    padding: 1rem;
    background-color:#FF385C;
    color: white;
}
.main__calendar {
    background-color: white;
    color: black;
    position: absolute;
    left: 30rem;
    top: 12rem;
    width: 22rem;
    border-radius: 2rem;
    text-align: center;
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
}
.main__calendar--title{
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    font-weight: bold;
}
.main__calendar--title button{
    background-color: transparent;
    border : none;
    font-weight: bold;
    font-size: 110%;
}
.main__calendar thead td{
    padding:1rem;
    padding-bottom: 0.2rem;
    font-size: 80%;
}
.main__calendar tbody td{
    padding: 1rem;
}
.checked-day{
    background-color: black;
    color: white;
    border-radius: 100%;
}
.main__content {
    clear:both;
    line-height: 120%;
    margin-top: 12rem;
    font-size: 4rem;
    font-weight: bold;
}
.main__content>button{
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

}
.location {
    padding-top : 2rem;
    padding-left: 2rem;
}
.location__city{
    display: inline-flex;
    width:24%;
    align-items: center;
}
.location__city--image{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 15%;
}
.location__city--description{
    line-height: 130%;
    padding-left: 0.5rem;
}
.house{
    padding: 2rem;
}
.house__content{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.house__type--image{
    width:300px;
    height:300px;
    border-radius: 15%;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.activity--background{
    background-color: black;
}
.activity{
    padding: 2rem;
    color: white;
}
.activity__content{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.activity__type--image{
    width:300px;
    height:300px;
    border-radius: 15%;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.activity__type--description{
    line-height: 130%;
}
.host{
    padding: 2rem;
}
.host__type--image{
    width:300px;
    height:300px;
    border-radius: 15%;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.host__content{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}