// @import url("default.scss");
// @import url("header.scss");

/*-------------------------------*/
/*SET-UP*/
/*-------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: black;
  scroll-behavior: smooth;
  font-weight: 400;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  text-align: center;
  justify-content: center;
  line-height: 1.5;
  font-size: 12px;
  color: #333;
}

li {
  text-decoration: none;
  list-style: none;
}

.invisible {
  visibility: hidden;
  /* opacity: 0 */
}

/*-------------------------------*/
/*HEADER*/
/*-------------------------------*/
//변수 정의
$white-background: #fff;
$full-width: 100vw;

//mixin 정의
@mixin centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin icon {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  background-image: url("/images/icon.png");
  background-repeat: no-repeat;
  background-size: 130px 90px;
  position: absolute;
}

@mixin vertical_bar {
  width: 1px;
  height: 18px;
  background-color: #e3e3e3;
  display: inline-block;
}

//쇼핑하우 로고 & 검색창
header {
  background-color: $white-background;
  text-align: center;
  width: $full-width;
  min-width: 977px;
  height: 6.5rem;
  position: relative;
  padding-top: 43px;
  box-shadow: 0 1px rgb(199, 198, 198);

  .header__top {
    display: inline-block;
    vertical-align: top;
    @include clearfix;

    .sh-logo {
      width: 119px;
      height: auto;
      vertical-align: top;
    }

    .searchbox {
      position: relative;
      float: right;
      border: 1px solid #cecfd1;
      width: 670px;
      height: 54px;
      padding: 16px 60px 14px 30px;
      margin: 0 24px 0 30px;
      border-radius: 10px;
      background-color: $white-background;

      button {
        font-size: 12px;
        line-height: 1.5;
        position: absolute;
        right: 0;
        top: 0;
        width: 52px;
        height: 52px;
        background-color: transparent;
        cursor: pointer;
        vertical-align: middle;
        border: 0;
      }
    }
  }

  //네비게이션 바
  .nav-container {
    margin-top: 40px;
    border-top: 1px solid #efefef;

    div {
      width: 1276px;
      margin: 0 auto;
      position: relative;
      padding: 19px 0;
      @include clearfix;

      ul {
        display: inline-block;
      }

      .nav_first,
      .nav_middle {
        float: left;
      }

      &:first-child {
        display: block;
        height: 54px;
        font-weight: 700;
        font-size: 16px;

        .nav_first__button {
          cursor: pointer;
          display: inline-block;
          float: left;

          .category {
            background-color: transparent;
            border: 0;
            border-radius: 0;
            width: 100px;
            position: relative;
          }
        }

        .tab_bold {
          cursor: pointer;
          padding: 0 19px;
          float: left;
        }

        .special_sale::after {
          content: "";
          position: absolute;
          top: 0px;
          width: 5px;
          right: 10px;
          height: 5px;
          background-color: #f9624c;
          border-radius: 10px;
        }
      }

      li {
        display: inline-block;
        position: relative;
        letter-spacing: -0.04em;
        color: #000;
        text-align: left;

        .tab_light {
          cursor: pointer;
          float: left;
          padding: 0 14px;
          color: #888;
        }
      }

      .txt_bar {
        @include vertical_bar;
        float: left;
        margin: 0 12px;
      }

      .nav_last {
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        float: right;

        .nav_last__list {
          display: inline-block;
          position: relative;
          float: left;
          padding-left: 30px;
        }
      }
    }
  }
}

//아이콘 모음
.search-icon {
  @include icon;
  left: 14px;
  top: 15px;
  width: 23px;
  height: 23px;
}

.menu-icon {
  @include icon;
  left: -15px;
  background-position: 0 -30px;
  top: -8px;
  width: 28px;
  height: 28px;
}

.login_container,
.recent_view {
  top: 13px;
  width: 70px;
  height: 28px;
  margin-right: 30px;
  cursor: pointer;
}

.login-icon {
  @include icon;
  left: -4px;
  background-position: -30px -30px;
  top: -5px;
  width: 28px;
  height: 28px;
}

.recent-icon {
  @include icon;
  left: -4px;
  background-position: -60px -30px;
  top: -5px;
  width: 28px;
  height: 28px;
}

.arrow-icon {
  @include icon;
  right: 17px;
  top: 8px;
  width: 8px;
  height: 5px;
  background-position: -60px -60px;
}

//바디
.main,
.hot-deal {
  background-color: #f3f3f3;
}
