<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/css/util.css">
  <link rel="stylesheet" href="/stylesheets/css/shopping.css">
</head>

<body>
  <header class="header_tag">
    <div class="head">
      <div class="head__logo">
        <a href="#"><img src="./images/logo.png" class="head__logo--img" alt=""></a>
      </div>
      <div class="head__search">
        <div class="head__search--input">
          <ol>
            <li>쿠쿠</li>
            <li>아크릴가림막</li>
            <li>낮잠이불</li>
            <li>싱크대물막이</li>
            <li>저분자콜라겐</li>
            <li>샤워커튼</li>
            <li>울트라기어모니터</li>
            <li>더치커피</li>
            <li>착즙기</li>
            <li>오덴세</li>
          </ol>
        </div>
        <button class="head__search--button">
          <img class="head__search--img" src="./images/magnifyingGlass.svg" alt="">
        </button>
      </div>
    </div>
  </header>

  <nav class="nav_tag">
    <div class="nav">
      <button class="nav__category_button">
        <span><img src="./images/menu.svg" alt=""></span> <span>카테고리</span>
      </button>
      <ul class="nav__menu__list">
        <li class="nav__menu__item"><a href="#">핫딜</a></li>
        <li class="nav__menu__item"><a href="#">베스트100</a></li>
        <li class="nav__menu__item"><a href="#">할인특가</a></li>
        <li class="nav__menu__item"><a href="#">기획전</a></li>
      </ul>
      <ul class="nav__hashtag__list">
        <li class="nav__hashtag__item"><a href="#">#건강식품</a></li>
        <li class="nav__hashtag__item"><a href="#">#제철음식</a></li>
        <li class="nav__hashtag__item"><a href="#">#블루투스이어폰</a></li>
        <li class="nav__hashtag__item"><a href="#">#커블체어</a></li>
        <li class="nav__hashtag__item"><a href="#">#노트북</a></li>
      </ul>
      <ul class="nav__auth__list">
        <li class="nav__auth__item">
          <a href="#">
            <span>
              <img class="nav__auth__item--img" src="./images/menu.svg" alt="">
            </span><span>로그인</span>
          </a>
        </li>
        <li class="nav__auth__item">
          <a href="#">
            <span>
              <img class="nav__auth__item--img" src="./images/menu.svg" alt="">
            </span><span>최근 본 상품▼</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <section>
    <article>
      <div class="main">
        <div class="main__first_line">
          <!-- 첫째줄 -->
          <div class="main__first_line__left">
            <div class="main__first_line__left__box">
              <img class="_left_top_image" src="" alt="">
            </div>
          </div>
          <div class="main__first_line__right _main_carousel_box">
            <div class="main__first_line__right__box">
              <div class="_three_image_box">
                <img class="_right_top_image" src="" alt="">
                <img class="_right_top_image" src="" alt="">
                <img class="_right_top_image" src="" alt="">
              </div>
            </div>
            <div class="main__first_line__right__nav">
              <span class="main__first_line__right__nav--dotted">
                <input type="radio" class="_radio" name="dotted" id=""><button class="_dotted_button"></button>
                <input type="radio" class="_radio" name="dotted" id="" checked><button class="_dotted_button"></button>
                <input type="radio" class="_radio" name="dotted" id=""><button class="_dotted_button"></button>
              </span>
              <button class="main__first_line__right__nav--left_button _main_left_button">&lt;</button>
              <button class="main__first_line__right__nav--right_button _main_right_button">&gt;</button>
            </div>
          </div>
        </div>

        <div class="main__second_line">
          <!-- 둘째줄 -->
          <ul class="main__second_line__list">
            <li class="main__second_line__item"><a href="#">
                <img class="_middle_image" src="" alt="">
                <span class="main__second_line__item--title"></span>
                <span class="main__second_line__item--sub_title"></span>
                <span class="main__second_line__item--badge">테마</span>
              </a></li>
            <li class="main__second_line__item"><a href="#">
                <img class="_middle_image" src="" alt="">
                <span class="main__second_line__item--title"></span>
                <span class="main__second_line__item--sub_title"></span>
                <span class="main__second_line__item--badge">테마</span>
              </a></li>
            <li class="main__second_line__item"><a href="#">
                <img class="_middle_image" src="" alt="">
                <span class="main__second_line__item--title"></span>
                <span class="main__second_line__item--sub_title"></span>
                <span class="main__second_line__item--badge">테마</span>
              </a></li>
            <li class="main__second_line__item"><a href="#">
                <img class="_middle_image" src="" alt="">
                <span class="main__second_line__item--title"></span>
                <span class="main__second_line__item--sub_title"></span>
                <span class="main__second_line__item--badge">테마</span>
              </a></li>
            <li class="main__second_line__item"><a href="#">
                <img class="_middle_image" src="" alt="">
                <span class="main__second_line__item--title"></span>
                <span class="main__second_line__item--sub_title"></span>
                <span class="main__second_line__item--badge">테마</span>
              </a></li>
          </ul>
        </div>


        <div class="main__third_line">
          <button class="main__third_line--button _more_data_button">더보기 ▼</button>
        </div>

      </div>
    </article>

    <article>
      <div class="another_item_title">지금뜨는 테마 카테고리</div>
      <div class="other">
        <ul class="other__list">
          <li class="other__item"><a href="#">
              <img class="_bottom_image" src="" alt="">
              <span class="main__second_line__item--title"></span>
              <span class="main__second_line__item--sub_title"></span>
              <span class="main__second_line__item--badge">테마</span>
            </a></li>
          <li class="other__item"><a href="#">
              <img class="_bottom_image" src="" alt="">
              <span class="main__second_line__item--title"></span>
              <span class="main__second_line__item--sub_title"></span>
              <span class="main__second_line__item--badge">테마</span>
            </a></li>
          <li class="other__item"><a href="#">
              <img class="_bottom_image" src="" alt="">
              <span class="main__second_line__item--title"></span>
              <span class="main__second_line__item--sub_title"></span>
              <span class="main__second_line__item--badge">테마</span>
            </a></li>
          <li class="other__item"><a href="#">
              <img class="_bottom_image" src="" alt="">
              <span class="main__second_line__item--title"></span>
              <span class="main__second_line__item--sub_title"></span>
              <span class="main__second_line__item--badge">테마</span>
            </a></li>
          <li class="other__item"><a href="#">
              <img class="_bottom_image" src="" alt="">
              <span class="main__second_line__item--title"></span>
              <span class="main__second_line__item--sub_title"></span>
              <span class="main__second_line__item--badge">테마</span>
            </a></li>
          <li class="other__item"><a href="#">
              <img class="_bottom_image" src="" alt="">
              <span class="main__second_line__item--title"></span>
              <span class="main__second_line__item--sub_title"></span>
              <span class="main__second_line__item--badge">테마</span>
            </a></li>
          <li class="other__item"><a href="#">
              <img class="_bottom_image" src="" alt="">
              <span class="main__second_line__item--title"></span>
              <span class="main__second_line__item--sub_title"></span>
              <span class="main__second_line__item--badge">테마</span>
            </a></li>
          <li class="other__item"><a href="#">
              <img class="_bottom_image" src="" alt="">
              <span class="main__second_line__item--title"></span>
              <span class="main__second_line__item--sub_title"></span>
              <span class="main__second_line__item--badge">테마</span>
            </a></li>
          <li class="other__item"><a href="#">
              <img class="_bottom_image" src="" alt="">
              <span class="main__second_line__item--title"></span>
              <span class="main__second_line__item--sub_title"></span>
              <span class="main__second_line__item--badge">테마</span>
            </a></li>
          <li class="other__item"><a href="#">
              <img class="_bottom_image" src="" alt="">
              <span class="main__second_line__item--title"></span>
              <span class="main__second_line__item--sub_title"></span>
              <span class="main__second_line__item--badge">테마</span>
            </a></li>
        </ul>
        <button class="other__left_button">&lt;</button>
        <button class="other__right_button">&gt;</button>
      </div>
    </article>
  </section>

  <script src="./main_bundle.js"></script>
</body>

</html>