* {
  box-sizing: border-box;
  font-size: 0;
}

body {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

.clear-both {
  clear: both;
}