$pannel-border: 1px solid gainsboro;

.pannel {
  background-color: #fff;
  border: $pannel-border;
}

.top-pannel {
  @extend .item-display;
}

.wrap-staticUI {
  @extend .item-display;
  box-sizing: border-box;
  justify-content: center;
  width: 510px;
  border-right: $pannel-border;
}

.wrap-carouselUI {
  @extend .item-display;
  justify-content: center;
  position: relative;
  width: 763px;
}

.carouselUI {
  @extend .item-display;
  width: 485px;
  overflow: hidden;
}

.carouselUI--leftBtn {
  position: absolute;
  top: 40%;
  left: 5%;

  button {
    @include button(none, #fff);
    font-size: 4rem;
    font-weight: lighter;
    opacity: 0.1;

    &:hover {
      opacity: 1;
    }
  }
}

.carouselUI--rightBtn {
  position: absolute;
  top: 40%;
  right: 5%;

  button {
    @include button(none, #fff);
    font-size: 4rem;
    font-weight: lighter;
    opacity: 0.1;

    &:hover {
      opacity: 1;
    }
  }
}

.carouselUI--paging {
  position: absolute;
  bottom: 5%;
  left: 45%;

  button {
    @include button(none, gainsboro);
    width: 15px;
    height: 5px;

    &:hover {
      background-color: #333;
    }
  }
}

.bottom-pannel {
  @extend .item-display;
  border-top: $pannel-border;

  li {
    padding: 21px 27px;
    border-right: $pannel-border;
  }

  img {
    width: 200px;
    height: 200px;
  }
}

.bottom-pannel--left {
  @extend .item-display;
}

.bottom-pannel--right {
  @extend .item-display;
  justify-content: space-around;

  li:nth-child(3) {
    border-right: none;
  }
}

.list--name {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0px 1px;
}

.list--explain {
  font-weight: 300;
}

.list--theme {
  border: 1px solid orange;
  color: orange;
  margin: 11px 4px 0px 0px;
  padding: 2px 0px;
  width: 31px;
  text-align: center;
}
