@import "global.scss";
@import "var.scss";
@import "util.scss";
@import "color.scss";
@import "debug.scss";

header {
  @extend %debug-border-0;
  width: 100%;
  min-width: 980px;
  padding-top: 44px;
  // position: fixed;
  display: inline-block;
  text-align: center;
}

.head-top {
  @extend %debug-border-3;
  display: inline-block;
  vertical-align: top;

  > div {
    @extend %debug-border-1;
    float: left;
  }

  .logo {
  }

  .search-bar {
    width: 670px;
    height: 54px;
    margin: 0 0px 0 30px;

    > fieldset {
      width: 100%;
      height: 100%;
      padding: 0;
      border: none;
    }

    $search-bar__input--width: 92%;
    .search-bar__input {
      width: $search-bar__input--width;
      height: 100%;
      float:left;
    }
    .search-bar__btn {
      width: 100% - $search-bar__input--width;
      height: 100%;
      float: left;
    }
  }
}

.head-navi {
  margin-top: 40px;
  display: block;

  .head-navi__category {
    float: left;
  }

  .head-navi__hori-list-left {
    @extend %hori-list;
    float: left;
  }

  .head-navi__hori-list-right {
    @extend %hori-list;
    float: right;
  }
}

.wrap-body-sect {
  @extend %debug-border-1;
  width: 100%;
  padding: 20px 0;
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: $lightgray;

  @for $i from 1 through $body-sect-cnt {
    .body-sect-#{$i} {
      @extend %debug-border-2;
      // width: 100%;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      background-color: $white;
    }
  }

  .body-sect-1 {
    .wrap-main-evt {
      display: inline-block;

      > div {
        @extend %debug-border-3;
        float: left;
        width: $main-evt-img-w;
        height: $main-evt-img-h;
        padding: 0;
      }

      .wrap-main-evt-slide {
        position: relative;

        .main-evt-slide {
          
        }

        .main-evt-slide-ctrl {
          position: absolute;
          top: 80%;
          left: 0;
        }
      }
    }

    .evt-card-slide {
      .evt-card-hori-list {
        @extend %debug-border-0;
        @extend %hori-list;

        .evt-card-hori-list__item {
          padding: 21px;
          position: relative;

          .item__link {
            .item__link__img {
              width: $evt-card-item-img-w;
              height: $evt-card-item-img-h;
            }
  
            .item__link__title {
              
            }
  
            .item__link__desc {
  
            }
  
            .item__link__tag {
              
            }
          }
        }
        
      }
    }
  }
}