@import "global.scss";
@import "var.scss";
@import "util.scss";
@import "color.scss";
@import "debug.scss";

header {
  @extend %debug-border-0;
  width: 100%;
  min-width: 980px;
  padding-top: 44px;
  // position: fixed;
  display: inline-block;
  text-align: center;

  * {
    font-size: 16px;
  }
}

.head-top {
  @extend %debug-border-3;
  display: inline-block;
  vertical-align: top;

  > div {
    @extend %debug-border-1;
    float: left;
  }

  .logo {
  }

  .search-bar {
    width: 670px;
    height: 54px;
    margin: 0 0px 0 30px;

    > fieldset {
      width: 100%;
      height: 100%;
      padding: 0;
      border: none;
    }

    $search-bar__input--width: 92%;
    .search-bar__input {
      width: $search-bar__input--width;
      height: 100%;
      float:left;
    }
    .search-bar__btn {
      width: 100% - $search-bar__input--width;
      height: 100%;
      float: left;
    }
  }
}

.head-navi {
  margin-top: 40px;
  display: block;

  .head-navi__category {
    float: left;
  }

  .head-navi__hori-list-left {
    @extend %hori-list;
    float: left;
  }

  .head-navi__hori-list-right {
    @extend %hori-list;
    float: right;
  }
}

.body-sect-cont {
  @extend %debug-border-1;
  display: inline-block;
  width: 100%;
  // height: 0;
  min-width: $main-evt-img-w * 2;
  padding: 20px 0;
  margin: 0;
  position: relative;
  text-align: center;
  background-color: $lightgray;

  @for $i from 1 through $body-sect-cnt {
    .body-sect-#{$i} {
      @extend %debug-border-2;
      max-width: $main-evt-img-w * 2;
      // width: 100%;
      display: inline-block;
      padding: 0;
      margin: 0 auto;
      background-color: $white;
    }
  }

  .body-sect-1 {
    .main-evt-cont {
      display: inline-block;

      > div {
        @extend %debug-border-3;
        float: left;
        width: $main-evt-img-w;
        height: $main-evt-img-h;
        padding: 0;
      }
    }
  }
}

.main-evt-slide {
  position: relative;
  overflow: hidden;
  
  .slide__pages {
    width: $main-evt-img-w * $main-evt-page-cnt;
    position: absolute;
    left: -1 * $main-evt-img-w;
    transition-duration: 0;

    .page {
      float: left;
      padding: 0;
      margin: 0;
    }

    &.move-to-left {
      transition-duration: 300ms;
      transform: translateX($main-evt-img-w);
    }
  
    &.move-to-right {
      transition-duration: 300ms;
      transform: translateX(-1 * $main-evt-img-w);
    }
  }

  .slide__page-ctrl {
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0;
    display: inline-block;
    text-align: center;

    .slide__page-ctrl__idx-btn {
      display: inline-block;
      padding: 6px 0;
      margin: 0 2px;
      position: relative;
      top: -4px;
      box-sizing: content-box;

      &.select {
        > .page-ctrl__idx-btn__bar {
          background-color: $black;
        }
      }

      .page-ctrl__idx-btn__bar {
        display: inline-block;
        width: 15px;
        height: 5px;
        background-color: $gray;  
      }
    }

    %page-ctrl__arrow-btn {
      width: 35px;
      height: 45px;
      position: absolute;
      top: -18px;
    }

    %page-ctrl__arrow-btn__icon {
      display: inline-block;
      background-image: $ic-url;
      overflow: hidden;
      width: 15px;
      height: 25px;
    }

    .slide__page-ctrl__left-btn {
      @extend %debug-border-1;
      @extend %page-ctrl__arrow-btn;
      left: 32%;

      .page-ctrl__left-btn__icon {
        @extend %page-ctrl__arrow-btn__icon;
        background-position: -128px -335px;
      }
    }

    .slide__page-ctrl__right-btn {
      @extend %debug-border-1;
      @extend %page-ctrl__arrow-btn;
      right: 32%;
      
      .page-ctrl__right-btn__icon {
        @extend %page-ctrl__arrow-btn__icon;
        background-position: -145px -335px;
      }
    }
  }
}

.evt-card-table {
  display: block;
  width: 100%;

  .evt-card-list {
    @extend %hori-list;
    display: inline-block;

    @for $i from 3 through 5 {
      &.item-cnt-#{$i} {
        .evt-card-list__item {
          width: 100% / $i;
        }
      }
    }

    .evt-card-list__item {
      padding: 21px;
      position: relative;
      text-align: left;
      background-color: $white;

      .item__link {
        width: 100%;

        .item__link__thumb {
          img {
            max-width: 100%;
          }
        }

        .item__link__title {
          margin-top: 10px;
          font-size: 14px;
          font-weight: 800;
          color: $black;
        }

        .item__link__desc {
          font-size: 12px;
          color: $gray;
        }

        .item__link__theme {
          width: 31px;
          height: 18px;
          margin-top: 10px;
          background: $ic-url2;
          background-position: 0 -850px;
        }
      }
    }
  }

  .evt-card-table__see-more-btn {
    width: 100%;
    padding: 14px 0;
    border: 1px solid $gray;
    border-top: none;
    color: $black;
    background-color: $lightgray;

    &:hover {
      background-color: $gray;
    }

    .main-txt {
      font-size: 20px;

      span {
        font-size: 14px;
        line-height: 26px;
        vertical-align: top;
      }
  
      .hilight-txt {
        color: $redorange;
      }
    }
  }
}