$body-sect-cnt: 3;

$main-evt-img-w: 485px;
$main-evt-img-h: 340px;
$main-evt-page-cnt: 3;

$evt-card-item-img-w: 200px;
$evt-card-item-img-h: 200px;

$ic-url: url(https://shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_190702.png);