@import './root.scss';

@for $i from 1 through 9 {
    .col-#{$i} {
        width: $oneWidth * $i;
    }
}

.max-WH {
    &-auto {
        max-width: 100%;
        max-height: 100%;
    }
}

// li 태그용 Style (@extend 함)
// (content__more__view & content__hot__carousel의 ul 안에서 사용)
.view-li {
    height: 276px;
    padding: 21px 27px;
    border-bottom: 0 none;
    text-align: left;
    line-height: 14px;
    letter-spacing: -1px;

    a {
        display: block;
        img {
            @extend .max-WH-auto;

            &:hover {
                opacity: 0.5;
            }
        }

        div {
            span {
                display: block;
            }

            .txt-bold {
                margin: 10px 0 1px;
                line-height: 22px;

                font-size: 14px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:hover {
                    text-decoration: underline;
                }
            }

            .txt-info {
                color: $gray_2;
                font-size: 12px;
            }
        }
    }
}
