.icon {
    background: url('/images/ico_gnb_shw.png') no-repeat;
    background-size: 130px 90px;
    display: block;

    &__carousel {
        background: url('/images/img_home.png') no-repeat;
        display: block;
    }

    &__comm2 {
        background: url('/images/ico_comm2.gif') no-repeat;
        display: block;
    }

    &__special {
        background: url('/images/img_special.png') no-repeat;
        display: block;
    }
}

.wh {
    &-23 {
        width: 23px;
        height: 23px;
    }

    &-28 {
        width: 28px;
        height: 28px;
    }
}

.w {
    &-10 {
        width: 10px;
    }

    &-23 {
        width: 23px;
    }

    &-31 {        
        width: 31px;        
    }
}

.h {
    &-17 {
        height: 17px;
    }

    &-18 {
        height: 18px;
    }

    &-45 {
        height: 45px;
    }
}

.i {
    &-search {
        @extend .icon, .wh-23;
    }

    &-category {
        @extend .icon, .wh-28;
        background-position: 0 -30px;
    }

    &-user {
        @extend .icon, .wh-28;
        background-position: -30px -30px;
    }

    &-recent {
        @extend .icon, .wh-28;
        background-position: -60px -30px;
    }

    &-slide {

        &__paging {
            &--prev {
                @extend .icon__carousel, .w-23, .h-45;
                background-position: 1px 0px;
            }
            &--next {
                @extend .icon__carousel, .w-23, .h-45;
                background-position: -30px 0px;
            }
        }
                
        &__special {
            &--prev {
                @extend .icon__special, .w-10, .h-17;
                margin: 12px auto;
                background-position: -110px -100px;
            }
            &--next {
                @extend .icon__special, .w-10, .h-17;
                margin: 12px auto;
                background-position: -150px -100px;
            }
        }
    }

    &-theme {
        @extend .icon__comm2, .w-31, .h-18;
        background-position: 0 -850px;
        margin: 8px 4px 0 0;
    }
}